:root .square { 
  --square-margin: clamp(
  0.328px,
  1vw,
  1.618px
); /* automate to open the portal */
--earth-days: 365.2563;

}

.square {
  scale: 1;
  aspect-ratio: 1 !important;
  will-change: transform;
  animation: perimeter
    calc(
      var(--earth-days) * var(--year-in-second) /
        var(--years-relative) * 0.5s
    )
    ease-in-out infinite;
    border: 1.618px #aaffaa15;
    outline: 0px dotted #00ff0015;
  /* @apply outline-red-600 outline-dotted; */
}

@keyframes perimeter {
  from,
  35%,
  65%,
  to {
    transform: scale(1.01);
    /* outline: 1px dotted #00ff0010; */
    /* border: var(--square-margin) dotted #11111190; */
    @apply dark:border-2 dark:outline-1 dark:border-on-primary/90 dark:border-dotted dark:outline-[#00ff0010] dark:outline-dotted dark:border-opacity-90;
  }
  50% {
    transform: scale(0.97);
    /* @apply dark:border border-white; */
    @apply dark:outline-[0.0px] border-2 border-dotted dark:border-on-primary/70 outline outline-white/10;
  }
}

.solar_glare {
  left:50%;
  top:50%;
  opacity: 0.85;
  filter: blur(20px);
  margin-top: 33vh;
  height: clamp(200px, 40vw, 500px);
  aspect-ratio: 1;
  border-radius: 100%;
  border: 1px solid red;
  position: absolute;
  translate: -50% -50%;
  --on-primary: rgb(17 16 17);
  --tw-bg-opacity: 1;
  --bg-green-300: rgb(134 239 172 / var(--tw-bg-opacity));
  --bg-green-400: rgb(74 222 128 / var(--tw-bg-opacity));

  /* background: linear-gradient( to right, pink, aquamarine, var(--bg-green-400)); */
  animation: rotate var(--timing-mouse-duration, 30s) infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  /* 50% { */
    /* transform: scale(1.1, 1); */
  /* } */
  to {
    transform: rotate(360deg);
  }
}
