/* Code inpspired, utilized, and copied from Malik Dellidj - @Dathink
 https://codepen.io/kowlor/pen/ZYYQoy?editors=0110

 Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27,3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)

 function revolution(pl-year-in-days) {
   return pl-year-in-days * var(--year-in-second) / 365.2563 + s 
 }
*/
.body {
  height: 100%;
  width: 100%;
  background: radial-gradient(ellipse at bottom, #112626 0%, #111011 100%);
  /* outline: 1px solid rebeccapurple; */
  background-attachment: fixed;
  color: #ffffff;
}

.solar {
  /* outline: 1px solid orchid; */
  margin: 0 auto;
  /* width: 100vh; */
  /* height: 100vh; */
  /* width: auto; */
  /* height: 100vh; */
  width: min(90vw, 90vh);
  height: min(90vw, 90vh);
  inset: 0;
  /* aspect-ratio: 1; */
  position: relative;
}

div.solar {
  border-radius: 1000px;
  /* top: 50%; */
  /* left: 50%; */
  position: absolute;
  z-index: 999;
}
.solar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;
  background: white;
  border-radius: 100px;
  box-shadow: 1496px 169px 0 0px rgba(255, 255, 255, 0.425),
    576px 769px 0 0px rgba(255, 255, 255, 0.806),
    824px 90px 0 0px rgba(255, 255, 255, 0.374),
    747px 1299px 0 0px rgba(255, 255, 255, 0.354),
    682px 931px 0 0px rgba(255, 255, 255, 0.515),
    1447px 67px 0 0px rgba(255, 255, 255, 0.953),
    1385px 1205px 0 0px rgba(255, 255, 255, 0.616),
    694px 1326px 0 0px rgba(255, 255, 255, 0.114),
    1729px 1737px 0 0px rgba(255, 255, 255, 0.54),
    563px 110px 0 0px rgba(255, 255, 255, 0.403),
    1587px 1155px 0 0px rgba(255, 255, 255, 0.098),
    1075px 90px 0 0px rgba(255, 255, 255, 0.381),
    487px 1606px 0 0px rgba(255, 255, 255, 0.895),
    927px 1205px 0 0px rgba(255, 255, 255, 0.283),
    584px 1685px 0 0px rgba(255, 255, 255, 0.731),
    939px 1181px 0 0px rgba(255, 255, 255, 0.454),
    11px 1462px 0 0px rgba(255, 255, 255, 0.742),
    1437px 173px 0 0px rgba(255, 255, 255, 0.779),
    988px 1724px 0 0px rgba(255, 255, 255, 0.853),
    251px 922px 0 0px rgba(255, 255, 255, 0.895),
    299px 1641px 0 0px rgba(255, 255, 255, 0.945),
    778px 1684px 0 0px rgba(255, 255, 255, 0.436),
    1459px 733px 0 0px rgba(255, 255, 255, 0.002),
    430px 748px 0 0px rgba(255, 255, 255, 0.556),
    224px 1267px 0 0px rgba(255, 255, 255, 0.254),
    1231px 1491px 0 0px rgba(255, 255, 255, 0.855),
    1506px 1054px 0 0px rgba(255, 255, 255, 0.952),
    56px 1435px 0 0px rgba(255, 255, 255, 0.882),
    1394px 1660px 0 0px rgba(255, 255, 255, 0.769),
    662px 676px 0 0px rgba(255, 255, 255, 0.191),
    1048px 586px 0 0px rgba(255, 255, 255, 0.366),
    1458px 1399px 0 0px rgba(255, 255, 255, 0.647),
    941px 976px 0 0px rgba(255, 255, 255, 0.938),
    1525px 913px 0 0px rgba(255, 255, 255, 0.5),
    666px 692px 0 0px rgba(255, 255, 255, 0.218),
    544px 1624px 0 0px rgba(255, 255, 255, 0.984),
    792px 1289px 0 0px rgba(255, 255, 255, 0.931),
    49px 1497px 0 0px rgba(255, 255, 255, 0.359),
    720px 1537px 0 0px rgba(255, 255, 255, 0.993),
    201px 1143px 0 0px rgba(255, 255, 255, 0.867),
    798px 1694px 0 0px rgba(255, 255, 255, 0.88),
    120px 928px 0 0px rgba(255, 255, 255, 0.471),
    1026px 639px 0 0px rgba(255, 255, 255, 0.458),
    405px 440px 0 0px rgba(255, 255, 255, 0.524),
    322px 602px 0 0px rgba(255, 255, 255, 0.398),
    653px 736px 0 0px rgba(255, 255, 255, 0.499),
    960px 839px 0 0px rgba(255, 255, 255, 0.726),
    862px 662px 0 0px rgba(255, 255, 255, 0.919),
    1737px 1213px 0 0px rgba(255, 255, 255, 0.893),
    711px 128px 0 0px rgba(255, 255, 255, 0.837),
    10px 873px 0 0px rgba(255, 255, 255, 0.543),
    876px 585px 0 0px rgba(255, 255, 255, 0.421),
    602px 100px 0 0px rgba(255, 255, 255, 0.926),
    145px 271px 0 0px rgba(255, 255, 255, 0.865),
    1723px 473px 0 0px rgba(255, 255, 255, 0.079),
    304px 1083px 0 0px rgba(255, 255, 255, 0.795),
    518px 856px 0 0px rgba(255, 255, 255, 0.873),
    1702px 1153px 0 0px rgba(255, 255, 255, 0.778),
    1785px 1379px 0 0px rgba(255, 255, 255, 0.65),
    826px 305px 0 0px rgba(255, 255, 255, 0.767),
    1168px 302px 0 0px rgba(255, 255, 255, 0.535),
    1120px 337px 0 0px rgba(255, 255, 255, 0.403),
    956px 1734px 0 0px rgba(255, 255, 255, 0.203),
    139px 783px 0 0px rgba(255, 255, 255, 0.157),
    989px 1130px 0 0px rgba(255, 255, 255, 0.928),
    935px 1125px 0 0px rgba(255, 255, 255, 0.211),
    1043px 951px 0 0px rgba(255, 255, 255, 0.541),
    765px 22px 0 0px rgba(255, 255, 255, 0.16),
    70px 1659px 0 0px rgba(255, 255, 255, 0.302),
    337px 775px 0 0px rgba(255, 255, 255, 0.895),
    1583px 405px 0 0px rgba(255, 255, 255, 0.039),
    396px 846px 0 0px rgba(255, 255, 255, 0.008),
    900px 1629px 0 0px rgba(255, 255, 255, 0.064),
    745px 1441px 0 0px rgba(255, 255, 255, 0.497),
    1245px 490px 0 0px rgba(255, 255, 255, 0.413),
    679px 678px 0 0px rgba(255, 255, 255, 0.231),
    1376px 250px 0 0px rgba(255, 255, 255, 0.148),
    1600px 454px 0 0px rgba(255, 255, 255, 0.632),
    1656px 982px 0 0px rgba(255, 255, 255, 0.229),
    1108px 1423px 0 0px rgba(255, 255, 255, 0.27),
    1769px 1394px 0 0px rgba(255, 255, 255, 0.24),
    72px 1466px 0 0px rgba(255, 255, 255, 0.493),
    1635px 291px 0 0px rgba(255, 255, 255, 0.808),
    283px 868px 0 0px rgba(255, 255, 255, 0.272),
    75px 838px 0 0px rgba(255, 255, 255, 0.704),
    714px 64px 0 0px rgba(255, 255, 255, 0.912),
    125px 1148px 0 0px rgba(255, 255, 255, 0.03),
    528px 453px 0 0px rgba(255, 255, 255, 0.836),
    1473px 1607px 0 0px rgba(255, 255, 255, 0.082),
    1593px 1217px 0 0px rgba(255, 255, 255, 0.541),
    930px 929px 0 0px rgba(255, 255, 255, 0.105),
    926px 1198px 0 0px rgba(255, 255, 255, 0.001),
    1369px 210px 0 0px rgba(255, 255, 255, 0.237),
    37px 1143px 0 0px rgba(255, 255, 255, 0.5),
    1265px 40px 0 0px rgba(255, 255, 255, 0.54),
    677px 230px 0 0px rgba(255, 255, 255, 0.278),
    1124px 1364px 0 0px rgba(255, 255, 255, 0.323),
    1612px 1749px 0 0px rgba(255, 255, 255, 0.522),
    1267px 232px 0 0px rgba(255, 255, 255, 0.758),
    1667px 1732px 0 0px rgba(255, 255, 255, 0.364),
    1567px 823px 0 0px rgba(255, 255, 255, 0.864),
    1412px 1573px 0 0px rgba(255, 255, 255, 0.913),
    910px 1110px 0 0px rgba(255, 255, 255, 0.322),
    909px 1567px 0 0px rgba(255, 255, 255, 0.242),
    900px 374px 0 0px rgba(255, 255, 255, 0.624),
    351px 587px 0 0px rgba(255, 255, 255, 0.005),
    329px 1435px 0 0px rgba(255, 255, 255, 0.805),
    1668px 35px 0 0px rgba(255, 255, 255, 0.02),
    538px 977px 0 0px rgba(255, 255, 255, 0.946),
    1610px 505px 0 0px rgba(255, 255, 255, 0.578),
    543px 1348px 0 0px rgba(255, 255, 255, 0.31),
    1785px 1173px 0 0px rgba(255, 255, 255, 0.536),
    1736px 1615px 0 0px rgba(255, 255, 255, 0.722),
    1011px 1168px 0 0px rgba(255, 255, 255, 0.183),
    513px 421px 0 0px rgba(255, 255, 255, 0.108),
    1011px 878px 0 0px rgba(255, 255, 255, 0.098),
    1199px 866px 0 0px rgba(255, 255, 255, 0.122),
    610px 867px 0 0px rgba(255, 255, 255, 0.158),
    307px 1557px 0 0px rgba(255, 255, 255, 0.958),
    527px 1253px 0 0px rgba(255, 255, 255, 0.351),
    405px 804px 0 0px rgba(255, 255, 255, 0.81),
    995px 1794px 0 0px rgba(255, 255, 255, 0.4),
    1357px 1731px 0 0px rgba(255, 255, 255, 0.848),
    1046px 867px 0 0px rgba(255, 255, 255, 0.425),
    713px 1599px 0 0px rgba(255, 255, 255, 0.454),
    801px 1042px 0 0px rgba(255, 255, 255, 0.383),
    1300px 224px 0 0px rgba(255, 255, 255, 0.585),
    163px 300px 0 0px rgba(255, 255, 255, 0.224),
    229px 613px 0 0px rgba(255, 255, 255, 0.122),
    1382px 582px 0 0px rgba(255, 255, 255, 0.407),
    145px 676px 0 0px rgba(255, 255, 255, 0.323),
    185px 991px 0 0px rgba(255, 255, 255, 0.486),
    108px 99px 0 0px rgba(255, 255, 255, 0.927),
    1195px 1476px 0 0px rgba(255, 255, 255, 0.274),
    1084px 761px 0 0px rgba(255, 255, 255, 0.095),
    704px 139px 0 0px rgba(255, 255, 255, 0.585),
    37px 702px 0 0px rgba(255, 255, 255, 0.233),
    100px 371px 0 0px rgba(255, 255, 255, 0.263),
    1115px 1194px 0 0px rgba(255, 255, 255, 0.615),
    58px 1645px 0 0px rgba(255, 255, 255, 0.41),
    760px 1759px 0 0px rgba(255, 255, 255, 0.481),
    458px 1554px 0 0px rgba(255, 255, 255, 0.812),
    480px 1018px 0 0px rgba(255, 255, 255, 0.794),
    1151px 701px 0 0px rgba(255, 255, 255, 0.163),
    130px 1px 0 0px rgba(255, 255, 255, 0.208),
    679px 1306px 0 0px rgba(255, 255, 255, 0.397),
    70px 1677px 0 0px rgba(255, 255, 255, 0.516),
    225px 431px 0 0px rgba(255, 255, 255, 0.678),
    1090px 808px 0 0px rgba(255, 255, 255, 0.226),
    1466px 1568px 0 0px rgba(255, 255, 255, 0.506),
    1601px 990px 0 0px rgba(255, 255, 255, 0.854),
    1003px 1234px 0 0px rgba(255, 255, 255, 0.749),
    1575px 1088px 0 0px rgba(255, 255, 255, 0.228),
    310px 328px 0 0px rgba(255, 255, 255, 0.656),
    734px 612px 0 0px rgba(255, 255, 255, 0.138),
    1606px 991px 0 0px rgba(255, 255, 255, 0.329),
    768px 669px 0 0px rgba(255, 255, 255, 0.678),
    1161px 280px 0 0px rgba(255, 255, 255, 0.837),
    231px 1083px 0 0px rgba(255, 255, 255, 0.616),
    1581px 275px 0 0px rgba(255, 255, 255, 0.187),
    930px 550px 0 0px rgba(255, 255, 255, 0.293),
    65px 1205px 0 0px rgba(255, 255, 255, 0.801),
    293px 453px 0 0px rgba(255, 255, 255, 0.248),
    1705px 1045px 0 0px rgba(255, 255, 255, 0.043),
    630px 1387px 0 0px rgba(255, 255, 255, 0.156),
    790px 301px 0 0px rgba(255, 255, 255, 0.704),
    678px 781px 0 0px rgba(255, 255, 255, 0.593),
    80px 896px 0 0px rgba(255, 255, 255, 0.229),
    1220px 1795px 0 0px rgba(255, 255, 255, 0.684),
    571px 544px 0 0px rgba(255, 255, 255, 0.977),
    126px 557px 0 0px rgba(255, 255, 255, 0.697),
    726px 1161px 0 0px rgba(255, 255, 255, 0.118),
    274px 384px 0 0px rgba(255, 255, 255, 0.547),
    1220px 1786px 0 0px rgba(255, 255, 255, 0.784),
    923px 1712px 0 0px rgba(255, 255, 255, 0.947),
    903px 1584px 0 0px rgba(255, 255, 255, 0.545),
    300px 1502px 0 0px rgba(255, 255, 255, 0.422),
    1355px 51px 0 0px rgba(255, 255, 255, 0.496),
    1670px 1291px 0 0px rgba(255, 255, 255, 0.506),
    97px 940px 0 0px rgba(255, 255, 255, 0.731),
    1354px 1528px 0 0px rgba(255, 255, 255, 0.541),
    747px 1425px 0 0px rgba(255, 255, 255, 0.197),
    126px 883px 0 0px rgba(255, 255, 255, 0.523),
    972px 1102px 0 0px rgba(255, 255, 255, 0.247),
    594px 763px 0 0px rgba(255, 255, 255, 0.223),
    1796px 1412px 0 0px rgba(255, 255, 255, 0.146),
    1424px 879px 0 0px rgba(255, 255, 255, 0.159),
    1421px 947px 0 0px rgba(255, 255, 255, 0.584),
    199px 1244px 0 0px rgba(255, 255, 255, 0.219),
    1072px 778px 0 0px rgba(255, 255, 255, 0.027),
    373px 1227px 0 0px rgba(255, 255, 255, 0.93),
    54px 1725px 0 0px rgba(255, 255, 255, 0.187),
    1409px 1146px 0 0px rgba(255, 255, 255, 0.014),
    425px 1188px 0 0px rgba(255, 255, 255, 0.075),
    115px 870px 0 0px rgba(255, 255, 255, 0.023),
    153px 33px 0 0px rgba(255, 255, 255, 0.062),
    99px 26px 0 0px rgba(255, 255, 255, 0.028),
    25px 977px 0 0px rgba(255, 255, 255, 0.098),
    900px 1634px 0 0px rgba(255, 255, 255, 0.662),
    1614px 1598px 0 0px rgba(255, 255, 255, 0.183),
    1263px 1663px 0 0px rgba(255, 255, 255, 0.775),
    1707px 729px 0 0px rgba(255, 255, 255, 0.931),
    1279px 1528px 0 0px rgba(255, 255, 255, 0.609),
    1274px 1012px 0 0px rgba(255, 255, 255, 0.728),
    26px 1506px 0 0px rgba(255, 255, 255, 0.933),
    417px 770px 0 0px rgba(255, 255, 255, 0.582),
    2px 1164px 0 0px rgba(255, 255, 255, 0.687),
    797px 472px 0 0px rgba(255, 255, 255, 0.8),
    1619px 666px 0 0px rgba(255, 255, 255, 0.032),
    1250px 526px 0 0px rgba(255, 255, 255, 0.787),
    1097px 552px 0 0px rgba(255, 255, 255, 0.272),
    263px 1763px 0 0px rgba(255, 255, 255, 0.569),
    1108px 1510px 0 0px rgba(255, 255, 255, 0.503),
    1440px 726px 0 0px rgba(255, 255, 255, 0.012),
    416px 1774px 0 0px rgba(255, 255, 255, 0.285),
    1556px 584px 0 0px rgba(255, 255, 255, 0.921),
    1695px 1327px 0 0px rgba(255, 255, 255, 0.275),
    118px 512px 0 0px rgba(255, 255, 255, 0.67),
    351px 1153px 0 0px rgba(255, 255, 255, 0.077),
    575px 741px 0 0px rgba(255, 255, 255, 0.219),
    502px 899px 0 0px rgba(255, 255, 255, 0.702),
    322px 1199px 0 0px rgba(255, 255, 255, 0.125),
    1342px 787px 0 0px rgba(255, 255, 255, 0.171),
    1751px 1472px 0 0px rgba(255, 255, 255, 0.183),
    1439px 540px 0 0px rgba(255, 255, 255, 0.244),
    1089px 697px 0 0px rgba(255, 255, 255, 0.22),
    1105px 1093px 0 0px rgba(255, 255, 255, 0.534),
    920px 547px 0 0px rgba(255, 255, 255, 0.588),
    487px 201px 0 0px rgba(255, 255, 255, 0.381),
    371px 302px 0 0px rgba(255, 255, 255, 0.233),
    555px 262px 0 0px rgba(255, 255, 255, 0.203),
    1600px 1531px 0 0px rgba(255, 255, 255, 0.071),
    387px 1278px 0 0px rgba(255, 255, 255, 0.886),
    1331px 551px 0 0px rgba(255, 255, 255, 0.367),
    1398px 97px 0 0px rgba(255, 255, 255, 0.545),
    23px 542px 0 0px rgba(255, 255, 255, 0.314),
    1460px 1426px 0 0px rgba(255, 255, 255, 0.198),
    1157px 1354px 0 0px rgba(255, 255, 255, 0.434),
    969px 1067px 0 0px rgba(255, 255, 255, 0.856),
    1441px 664px 0 0px rgba(255, 255, 255, 0.736),
    1222px 819px 0 0px rgba(255, 255, 255, 0.993),
    1381px 1342px 0 0px rgba(255, 255, 255, 0.196),
    1706px 1698px 0 0px rgba(255, 255, 255, 0.362),
    1144px 740px 0 0px rgba(255, 255, 255, 0.297),
    305px 351px 0 0px rgba(255, 255, 255, 0.383),
    634px 1406px 0 0px rgba(255, 255, 255, 0.94),
    364px 708px 0 0px rgba(255, 255, 255, 0.254),
    1564px 1152px 0 0px rgba(255, 255, 255, 0.92),
    382px 424px 0 0px rgba(255, 255, 255, 0.412),
    1176px 1126px 0 0px rgba(255, 255, 255, 0.261),
    468px 1526px 0 0px rgba(255, 255, 255, 0.806),
    257px 303px 0 0px rgba(255, 255, 255, 0.325),
    1679px 1185px 0 0px rgba(255, 255, 255, 0.143),
    1325px 466px 0 0px rgba(255, 255, 255, 0.22),
    349px 1630px 0 0px rgba(255, 255, 255, 0.031),
    753px 1601px 0 0px rgba(255, 255, 255, 0.614),
    1090px 1707px 0 0px rgba(255, 255, 255, 0.705),
    270px 444px 0 0px rgba(255, 255, 255, 0.786),
    1542px 740px 0 0px rgba(255, 255, 255, 0.864),
    1029px 515px 0 0px rgba(255, 255, 255, 0.583),
    1677px 272px 0 0px rgba(255, 255, 255, 0.034),
    549px 1736px 0 0px rgba(255, 255, 255, 0.355),
    975px 1129px 0 0px rgba(255, 255, 255, 0.297),
    1101px 1657px 0 0px rgba(255, 255, 255, 0.871),
    634px 1102px 0 0px rgba(255, 255, 255, 0.295),
    1197px 11px 0 0px rgba(255, 255, 255, 0.18),
    420px 773px 0 0px rgba(255, 255, 255, 0.498),
    191px 224px 0 0px rgba(255, 255, 255, 0.24),
    1514px 816px 0 0px rgba(255, 255, 255, 0.243),
    1443px 248px 0 0px rgba(255, 255, 255, 0.234),
    681px 970px 0 0px rgba(255, 255, 255, 0.899),
    1102px 151px 0 0px rgba(255, 255, 255, 0.541),
    335px 849px 0 0px rgba(255, 255, 255, 0.389),
    1756px 84px 0 0px rgba(255, 255, 255, 0.344),
    1600px 1567px 0 0px rgba(255, 255, 255, 0.078),
    668px 82px 0 0px rgba(255, 255, 255, 0.443),
    515px 430px 0 0px rgba(255, 255, 255, 0.143),
    816px 1452px 0 0px rgba(255, 255, 255, 0.172),
    461px 1521px 0 0px rgba(255, 255, 255, 0.522),
    1312px 614px 0 0px rgba(255, 255, 255, 0.426),
    1419px 1580px 0 0px rgba(255, 255, 255, 0.714),
    376px 33px 0 0px rgba(255, 255, 255, 0.053),
    87px 1758px 0 0px rgba(255, 255, 255, 0.945),
    312px 1028px 0 0px rgba(255, 255, 255, 0.624),
    317px 1129px 0 0px rgba(255, 255, 255, 0.891),
    1722px 1590px 0 0px rgba(255, 255, 255, 0.434),
    917px 1486px 0 0px rgba(255, 255, 255, 0.664),
    1414px 1254px 0 0px rgba(255, 255, 255, 0.204),
    1401px 219px 0 0px rgba(255, 255, 255, 0.209),
    734px 1651px 0 0px rgba(255, 255, 255, 0.876),
    925px 1448px 0 0px rgba(255, 255, 255, 0.08),
    300px 731px 0 0px rgba(255, 255, 255, 0.373),
    1421px 1583px 0 0px rgba(255, 255, 255, 0.492),
    222px 1072px 0 0px rgba(255, 255, 255, 0.728),
    1596px 453px 0 0px rgba(255, 255, 255, 0.037),
    574px 934px 0 0px rgba(255, 255, 255, 0.396),
    597px 116px 0 0px rgba(255, 255, 255, 0.932),
    343px 1729px 0 0px rgba(255, 255, 255, 0.553),
    987px 1550px 0 0px rgba(255, 255, 255, 0.138),
    901px 463px 0 0px rgba(255, 255, 255, 0.854),
    146px 345px 0 0px rgba(255, 255, 255, 0.051),
    133px 983px 0 0px rgba(255, 255, 255, 0.115),
    1076px 252px 0 0px rgba(255, 255, 255, 0.323),
    44px 841px 0 0px rgba(255, 255, 255, 0.027),
    1111px 757px 0 0px rgba(255, 255, 255, 0.502),
    1775px 57px 0 0px rgba(255, 255, 255, 0.381),
    524px 454px 0 0px rgba(255, 255, 255, 0.894),
    874px 931px 0 0px rgba(255, 255, 255, 0.101),
    1668px 1754px 0 0px rgba(255, 255, 255, 0.129),
    922px 1539px 0 0px rgba(255, 255, 255, 0.837),
    1253px 280px 0 0px rgba(255, 255, 255, 0.638),
    150px 1705px 0 0px rgba(255, 255, 255, 0.872),
    863px 1346px 0 0px rgba(255, 255, 255, 0.534),
    458px 481px 0 0px rgba(255, 255, 255, 0.967),
    530px 822px 0 0px rgba(255, 255, 255, 0.862),
    1646px 792px 0 0px rgba(255, 255, 255, 0.964),
    30px 14px 0 0px rgba(255, 255, 255, 0.106),
    1394px 717px 0 0px rgba(255, 255, 255, 0.409),
    1200px 651px 0 0px rgba(255, 255, 255, 0.37),
    478px 610px 0 0px rgba(255, 255, 255, 0.261),
    1389px 1597px 0 0px rgba(255, 255, 255, 0.969),
    1389px 623px 0 0px rgba(255, 255, 255, 0.169),
    609px 1234px 0 0px rgba(255, 255, 255, 0.834),
    1646px 999px 0 0px rgba(255, 255, 255, 0.736),
    1495px 210px 0 0px rgba(255, 255, 255, 0.859),
    266px 650px 0 0px rgba(255, 255, 255, 0.436),
    1635px 307px 0 0px rgba(255, 255, 255, 0.055),
    882px 500px 0 0px rgba(255, 255, 255, 0.238),
    760px 1519px 0 0px rgba(255, 255, 255, 0.819),
    371px 454px 0 0px rgba(255, 255, 255, 0.269),
    1676px 1451px 0 0px rgba(255, 255, 255, 0.957),
    7px 191px 0 0px rgba(255, 255, 255, 0.092),
    127px 828px 0 0px rgba(255, 255, 255, 0.416),
    415px 445px 0 0px rgba(255, 255, 255, 0.639),
    1136px 69px 0 0px rgba(255, 255, 255, 0.752),
    325px 59px 0 0px rgba(255, 255, 255, 0.301),
    1348px 818px 0 0px rgba(255, 255, 255, 0.081),
    1779px 977px 0 0px rgba(255, 255, 255, 0.15),
    1174px 157px 0 0px rgba(255, 255, 255, 0.59),
    119px 81px 0 0px rgba(255, 255, 255, 0.233),
    1725px 472px 0 0px rgba(255, 255, 255, 0.749),
    602px 809px 0 0px rgba(255, 255, 255, 0.247),
    1186px 424px 0 0px rgba(255, 255, 255, 0.929),
    1613px 275px 0 0px rgba(255, 255, 255, 0.527),
    764px 1295px 0 0px rgba(255, 255, 255, 0.274),
    413px 1015px 0 0px rgba(255, 255, 255, 0.899),
    1765px 617px 0 0px rgba(255, 255, 255, 0.22),
    1170px 1072px 0 0px rgba(255, 255, 255, 0.513),
    446px 1734px 0 0px rgba(255, 255, 255, 0.214),
    1054px 1541px 0 0px rgba(255, 255, 255, 0.177),
    1512px 1195px 0 0px rgba(255, 255, 255, 0.846),
    1454px 1431px 0 0px rgba(255, 255, 255, 0.132),
    1362px 732px 0 0px rgba(255, 255, 255, 0.594),
    1293px 725px 0 0px rgba(255, 255, 255, 0.71),
    832px 433px 0 0px rgba(255, 255, 255, 0.392),
    1294px 428px 0 0px rgba(255, 255, 255, 0.472),
    1576px 1441px 0 0px rgba(255, 255, 255, 0.558),
    572px 567px 0 0px rgba(255, 255, 255, 0.013),
    1573px 422px 0 0px rgba(255, 255, 255, 0.289),
    959px 106px 0 0px rgba(255, 255, 255, 0.776),
    333px 715px 0 0px rgba(255, 255, 255, 0.452),
    1404px 1500px 0 0px rgba(255, 255, 255, 0.743),
    135px 1137px 0 0px rgba(255, 255, 255, 0.561),
    612px 500px 0 0px rgba(255, 255, 255, 0.91),
    324px 636px 0 0px rgba(255, 255, 255, 0.025),
    775px 14px 0 0px rgba(255, 255, 255, 0.188),
    1557px 557px 0 0px rgba(255, 255, 255, 0.032),
    777px 1178px 0 0px rgba(255, 255, 255, 0.782),
    1326px 151px 0 0px rgba(255, 255, 255, 0.567),
    852px 1197px 0 0px rgba(255, 255, 255, 0.525),
    112px 525px 0 0px rgba(255, 255, 255, 0.084),
    1380px 1661px 0 0px rgba(255, 255, 255, 0.553),
    1313px 1024px 0 0px rgba(255, 255, 255, 0.562),
    1431px 35px 0 0px rgba(255, 255, 255, 0.566),
    1217px 1213px 0 0px rgba(255, 255, 255, 0.592),
    230px 1056px 0 0px rgba(255, 255, 255, 0.737),
    1448px 494px 0 0px rgba(255, 255, 255, 0.08),
    196px 1331px 0 0px rgba(255, 255, 255, 0.829),
    1241px 48px 0 0px rgba(255, 255, 255, 0.218),
    259px 564px 0 0px rgba(255, 255, 255, 0.143),
    699px 793px 0 0px rgba(255, 255, 255, 0.899),
    1200px 1509px 0 0px rgba(255, 255, 255, 0.129),
    191px 334px 0 0px rgba(255, 255, 255, 0.782),
    555px 862px 0 0px rgba(255, 255, 255, 0.694),
    1168px 1430px 0 0px rgba(255, 255, 255, 0.653),
    1428px 1497px 0 0px rgba(255, 255, 255, 0.282),
    1570px 1148px 0 0px rgba(255, 255, 255, 0.513),
    1799px 1509px 0 0px rgba(255, 255, 255, 0.579),
    104px 239px 0 0px rgba(255, 255, 255, 0.587),
    912px 1668px 0 0px rgba(255, 255, 255, 0.695),
    1751px 1004px 0 0px rgba(255, 255, 255, 0.124),
    1276px 490px 0 0px rgba(255, 255, 255, 0.352),
    1720px 1379px 0 0px rgba(255, 255, 255, 0.195),
    556px 235px 0 0px rgba(255, 255, 255, 0.434),
    679px 1677px 0 0px rgba(255, 255, 255, 0.003),
    132px 619px 0 0px rgba(255, 255, 255, 0.536),
    512px 1222px 0 0px rgba(255, 255, 255, 0.532),
    1192px 670px 0 0px rgba(255, 255, 255, 0.044),
    232px 489px 0 0px rgba(255, 255, 255, 0.784),
    1740px 525px 0 0px rgba(255, 255, 255, 0.964),
    258px 1051px 0 0px rgba(255, 255, 255, 0.057),
    1773px 97px 0 0px rgba(255, 255, 255, 0.197),
    1196px 1280px 0 0px rgba(255, 255, 255, 0.423),
    350px 932px 0 0px rgba(255, 255, 255, 0.279),
    1228px 910px 0 0px rgba(255, 255, 255, 0.928),
    1765px 661px 0 0px rgba(255, 255, 255, 0.243),
    752px 905px 0 0px rgba(255, 255, 255, 0.086),
    112px 1210px 0 0px rgba(255, 255, 255, 0.545),
    2px 1695px 0 0px rgba(255, 255, 255, 0.861),
    1381px 1063px 0 0px rgba(255, 255, 255, 0.955),
    1298px 1013px 0 0px rgba(255, 255, 255, 0.872),
    1351px 1740px 0 0px rgba(255, 255, 255, 0.42),
    834px 340px 0 0px rgba(255, 255, 255, 0.84),
    1085px 533px 0 0px rgba(255, 255, 255, 0.885),
    439px 1632px 0 0px rgba(255, 255, 255, 0.251),
    60px 670px 0 0px rgba(255, 255, 255, 0.107),
    992px 1614px 0 0px rgba(255, 255, 255, 0.47),
    1797px 254px 0 0px rgba(255, 255, 255, 0.53),
    526px 502px 0 0px rgba(255, 255, 255, 0.519),
    1698px 1418px 0 0px rgba(255, 255, 255, 0.253),
    500px 1355px 0 0px rgba(255, 255, 255, 0.017),
    1702px 446px 0 0px rgba(255, 255, 255, 0.988),
    1478px 693px 0 0px rgba(255, 255, 255, 0.819),
    985px 217px 0 0px rgba(255, 255, 255, 0.547),
    455px 211px 0 0px rgba(255, 255, 255, 0.494),
    1182px 1446px 0 0px rgba(255, 255, 255, 0.694),
    1097px 718px 0 0px rgba(255, 255, 255, 0.968),
    1035px 1618px 0 0px rgba(255, 255, 255, 0.964),
    742px 276px 0 0px rgba(255, 255, 255, 0.403),
    803px 1683px 0 0px rgba(255, 255, 255, 0.145),
    666px 1751px 0 0px rgba(255, 255, 255, 0.162),
    643px 1735px 0 0px rgba(255, 255, 255, 0.946),
    1766px 1443px 0 0px rgba(255, 255, 255, 0.019),
    1155px 827px 0 0px rgba(255, 255, 255, 0.008),
    251px 72px 0 0px rgba(255, 255, 255, 0.09),
    1464px 953px 0 0px rgba(255, 255, 255, 0.022),
    388px 1628px 0 0px rgba(255, 255, 255, 0.396),
    976px 42px 0 0px rgba(255, 255, 255, 0.392),
    1251px 61px 0 0px rgba(255, 255, 255, 0.667),
    747px 1471px 0 0px rgba(255, 255, 255, 0.088),
    818px 801px 0 0px rgba(255, 255, 255, 0.126),
    527px 1064px 0 0px rgba(255, 255, 255, 0.62),
    716px 1214px 0 0px rgba(255, 255, 255, 0.671),
    932px 794px 0 0px rgba(255, 255, 255, 0.446),
    213px 858px 0 0px rgba(255, 255, 255, 0.031),
    1749px 937px 0 0px rgba(255, 255, 255, 0.452),
    762px 1277px 0 0px rgba(255, 255, 255, 0.146),
    999px 1171px 0 0px rgba(255, 255, 255, 0.775),
    615px 851px 0 0px rgba(255, 255, 255, 0.363),
    1592px 1143px 0 0px rgba(255, 255, 255, 0.651),
    155px 528px 0 0px rgba(255, 255, 255, 0.661),
    1454px 1238px 0 0px rgba(255, 255, 255, 0.428),
    382px 1192px 0 0px rgba(255, 255, 255, 0.27),
    1698px 593px 0 0px rgba(255, 255, 255, 0.06),
    1062px 1274px 0 0px rgba(255, 255, 255, 0.986),
    496px 1727px 0 0px rgba(255, 255, 255, 0.282),
    288px 919px 0 0px rgba(255, 255, 255, 0.24),
    1244px 1637px 0 0px rgba(255, 255, 255, 0.182),
    1463px 719px 0 0px rgba(255, 255, 255, 0.361),
    1187px 333px 0 0px rgba(255, 255, 255, 0.418),
    560px 665px 0 0px rgba(255, 255, 255, 0.376),
    229px 228px 0 0px rgba(255, 255, 255, 0.694),
    6px 830px 0 0px rgba(255, 255, 255, 0.323),
    342px 327px 0 0px rgba(255, 255, 255, 0.655),
    1124px 380px 0 0px rgba(255, 255, 255, 0.835),
    1324px 1446px 0 0px rgba(255, 255, 255, 0.748),
    1117px 1141px 0 0px rgba(255, 255, 255, 0.877),
    1697px 964px 0 0px rgba(255, 255, 255, 0.784),
    1375px 1136px 0 0px rgba(255, 255, 255, 0.386),
    1685px 1591px 0 0px rgba(255, 255, 255, 0.176),
    328px 1472px 0 0px rgba(255, 255, 255, 0.71),
    541px 754px 0 0px rgba(255, 255, 255, 0.558),
    1751px 361px 0 0px rgba(255, 255, 255, 0.696),
    1224px 1726px 0 0px rgba(255, 255, 255, 0.461),
    370px 1062px 0 0px rgba(255, 255, 255, 0.573),
    675px 1370px 0 0px rgba(255, 255, 255, 0.764),
    704px 781px 0 0px rgba(255, 255, 255, 0.273),
    1086px 1577px 0 0px rgba(255, 255, 255, 0.486),
    253px 78px 0 0px rgba(255, 255, 255, 0.536),
    297px 1290px 0 0px rgba(255, 255, 255, 0.061),
    1527px 330px 0 0px rgba(255, 255, 255, 0.508),
    1706px 1770px 0 0px rgba(255, 255, 255, 0.049),
    1723px 487px 0 0px rgba(255, 255, 255, 0.59),
    1292px 1181px 0 0px rgba(255, 255, 255, 0.657),
    1628px 1064px 0 0px rgba(255, 255, 255, 0.911),
    325px 391px 0 0px rgba(255, 255, 255, 0.365),
    405px 1419px 0 0px rgba(255, 255, 255, 0.749),
    1180px 1319px 0 0px rgba(255, 255, 255, 0.803),
    163px 1200px 0 0px rgba(255, 255, 255, 0.106),
    902px 979px 0 0px rgba(255, 255, 255, 0.613),
    484px 1417px 0 0px rgba(255, 255, 255, 0.097),
    1570px 284px 0 0px rgba(255, 255, 255, 0.426),
    1031px 1383px 0 0px rgba(255, 255, 255, 0.474),
    408px 1731px 0 0px rgba(255, 255, 255, 0.171),
    236px 903px 0 0px rgba(255, 255, 255, 0.891),
    276px 1312px 0 0px rgba(255, 255, 255, 0.02),
    1659px 1051px 0 0px rgba(255, 255, 255, 0.481),
    1725px 480px 0 0px rgba(255, 255, 255, 0.002),
    983px 1398px 0 0px rgba(255, 255, 255, 0.068),
    788px 1099px 0 0px rgba(255, 255, 255, 0.171);
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  width: var(--pl-sun);
  height: var(--pl-sun);

  /* this brings the center as the origin */
  margin-top: calc(-0.5 * var(--pl-sun));
  margin-left: calc(-0.5 * var(--pl-sun));

  border: 0;
  border-radius: 100%;
  background-clip: padding-box;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 11px 3px rgba(255, 106, 0, 0.4),
    0 0 21px 10px rgba(255, 204, 0, 0.13);
}

/* EARTH */

.earth {
  --earth-days: 365.2563;
  height: var(--orb-earth);
  width: var(--orb-earth);
  margin-top: calc(-0.5 * var(--pl-earth));
  margin-left: calc(-0.5 * var(--pl-earth));
  animation: orb calc(var(--earth-days) * var(--year-in-second) / 365.2563 * 1s)
    linear infinite;
}
.earth::before {
  position: absolute;
  content: "";
  height: var(--pl-earth);
  width: var(--pl-earth);
  background: #11ace9;
}
.earth::after {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 50%;
  top: 0px;
  margin-top: -9px;
  margin-left: -9px;
  /* border: 0; */
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px grey;
}

/* border: 0; */
/* border-radius: 100%; */
/* background-clip: padding-box; */
/* background-position: -28px -103px; */
/* background-size: 175%; */
/* box-shadow: 0 0 11px 3px rgba(0, 106, 100, 0.4), */
/*   0 0 21px 10px rgba(0, 204, 100, 0.13); */

.asteroid_belt {
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(-360deg);
  }
}
