/* Code inpspired, utilized, and copied from Malik Dellidj - @Dathink
 https://codepen.io/kowlor/pen/ZYYQoy?editors=0110

 Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27.3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)

 function revolution(pl-year-in-days) {
   return pl-year-in-days * var(--year-in-second) / 365.2563 + s 
 }
*/

.solar {
  margin: 0 auto;
  position: absolute;
  width: 100%;
  height: 100%;
}

div.solar {
  top: 50%;
  left: 50%;
  position: absolute;
  margin: 0 auto;
  z-index:1;
}

/* Orbits */
div.solar > *:not(.sun) {
  border: 1px ridge rgba(100, 165, 200, min(calc((1.618/2) / var(--year-in-second)), 0.32));
  border-radius: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
}

/* Add pseudo elements before each planet to color it*/
/* This does not interfere with the orbit */
div.solar > *:not(.sun)::before {
  left: 50%;
  border-radius:100px !important;
  content: "" !important ;
  position: absolute !important ;
}

/* Shadow of each planet */
div.solar > *:not(.asteroid_belt)::before {
  box-shadow: inset 0 6px 0 -2px rgba(0,0,0,0.25) !important;

}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  width: var(--pl-sun);
  height: var(--pl-sun);
  z-index: 999 !important;
  position: relative;

  margin-top: calc(-0.5 * var(--pl-sun));
  margin-left: calc(-0.5 * var(--pl-sun));

  border: 0;
  border-radius: 100%;
  background-clip: padding-box;
  background-position: -28px -103px;
  background-size: 175%;

  box-shadow: 0 0 11px 3px rgba(255, 106, 0, 0.4),
    0 0 21px 10px rgba(255, 204, 0, 0.13);
}
.sun:hover,
.sun:focus-within,
.sun:focus-visible {
  position: relative;
  z-index: 999;
  /* cursor: pointer; */
  /* filter: brightness(111%); */
}

/* Start: MERCURY */

.mercury {
  --mercury-days: 87.5;
  height: var(--orb-mercury);
  width: var(--orb-mercury);
  margin-top: calc(-0.5 * var(--orb-mercury));
  margin-left: calc(-0.5 * var(--orb-mercury));
  animation: orb
    calc(
      var(--mercury-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.mercury::before {
  height: var(--pl-mercury);
  width: var(--pl-mercury);
  --color: #8e5d36;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-mercury));
  margin-left: calc(-0.5 * var(--pl-mercury));
}

/* End: MERCURY */

/* Start: VENUS */

.venus {
  --venus-days: 224.7;
  height: var(--orb-venus);
  width: var(--orb-venus);
  margin-top: calc(-0.5 * var(--orb-venus));
  margin-left: calc(-0.5 * var(--orb-venus));
  animation: orb
    calc(
      var(--venus-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.venus::before {
  height: var(--pl-venus);
  width: var(--pl-venus);
  --color: #aabb44;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-venus));
  margin-left: calc(-0.5 * var(--pl-venus));
}

/* End: VENUS */

/* Start: EARTH */

.earth {
  --earth-days: 365.2563;
  height: var(--orb-earth);
  width: var(--orb-earth);
  margin-top: calc(-0.5 * var(--orb-earth));
  margin-left: calc(-0.5 * var(--orb-earth));
  animation: orb
    calc(var(--earth-days) * var(--year-in-second) / var(--years-relative) * 1s)
    linear infinite;
}

.earth::before {
  height: var(--pl-earth);
  width: var(--pl-earth);
  
  background: #11ace9;
  /* background: radial-gradient( ellipse at center, #00fba0 1%, #009ab3 30%, #00ff43 35%, #bacfa3 49%, #009ab3 49%, #11ace9 100%); */
  margin-top: calc(-0.5 * var(--pl-earth));
  margin-left: calc(-0.5 * var(--pl-earth));
}

.earth::after {
  --earth-days: 27.3216; /* days (around earth) */
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 0px;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  border: 0;
  border-radius: 100px;
  box-shadow: 0 -10px 0 -8px #8a8aa3;
  animation: orb
    calc(var(--earth-days) * var(--year-in-second) / var(--years-relative) * 1s)
    linear infinite;
}

/* End: EARTH */


/* Start: MARS */

.mars {
  --mars-days: 687;
  height: var(--orb-mars);
  width: var(--orb-mars);
  margin-top: calc(-0.5 * var(--orb-mars));
  margin-left: calc(-0.5 * var(--orb-mars));
  animation: orb
    calc(
      var(--mars-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.mars::before {
  height: var(--pl-mars);
  width: var(--pl-mars);
  --color: #ff5555;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-mars));
  margin-left: calc(-0.5 * var(--pl-mars));
}

/* End: MARS */

/* Start: JUPITER */

.jupiter {
  --jupiter-days: 4331;
  height: var(--orb-jupiter);
  width: var(--orb-jupiter);
  margin-top: calc(-0.5 * var(--orb-jupiter));
  margin-left: calc(-0.5 * var(--orb-jupiter));
  animation: orb
    calc(
      var(--jupiter-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.jupiter::before {
  height: var(--pl-jupiter);
  width: var(--pl-jupiter);
  --color: #c76f2c;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-jupiter));
  margin-left: calc(-0.5 * var(--pl-jupiter));
}

/* End: JUPITER */


/* Start: SATURN */

.saturn {
  --saturn-days: 10747;
  height: var(--orb-saturn);
  width: var(--orb-saturn);
  margin-top: calc(-0.5 * var(--orb-saturn));
  margin-left: calc(-0.5 * var(--orb-saturn));
  animation: orb
    calc(
      var(--saturn-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.saturn::before {
  height: var(--pl-saturn);
  width: var(--pl-saturn);
  --color: #e8c083;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-saturn));
  margin-left: calc(-0.5 * var(--pl-saturn));
}

/* End: SATURN */


/* Start: URANUS */

.uranus {
  --uranus-days: 30589;
  height: var(--orb-uranus);
  width: var(--orb-uranus);
  margin-top: calc(-0.5 * var(--orb-uranus));
  margin-left: calc(-0.5 * var(--orb-uranus));
  animation: orb
    calc(
      var(--uranus-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.uranus::before {
  height: var(--pl-uranus);
  width: var(--pl-uranus);
  --color: #b6e4e2;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-uranus));
  margin-left: calc(-0.5 * var(--pl-uranus));
}

/* End: URANUS */

/* Start: NEPTUNE */

.neptune {
  --neptune-days: 59802;
  height: var(--orb-neptune);
  width: var(--orb-neptune);
  margin-top: calc(-0.5 * var(--orb-neptune));
  margin-left: calc(-0.5 * var(--orb-neptune));
  animation: orb
    calc(
      var(--neptune-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.neptune::before {
  height: var(--pl-neptune);
  width: var(--pl-neptune);
  --color: #165d8a;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-neptune));
  margin-left: calc(-0.5 * var(--pl-neptune));
}

/* End: NEPTUNE */

/* Start: PLUTO */

.pluto {
  --pluto-days: 90580;
  height: var(--orb-pluto);
  width: var(--orb-pluto);
  margin-top: calc(-0.5 * var(--orb-pluto));
  margin-left: calc(-0.5 * var(--orb-pluto));
  animation: orb
    calc(
      var(--pluto-days) * var(--year-in-second) / var(--years-relative) * 1s
    )
    linear infinite;
}

.pluto::before {
  height: var(--pl-pluto);
  width: var(--pl-pluto);
  --color: #fafafa;
  background: var(--color);
  /* outline: 1px solid var(--color); */
  border-radius:100%;
  margin-top: calc(-0.5 * var(--pl-pluto));
  margin-left: calc(-0.5 * var(--pl-pluto));
}

/* End: PLUTO */


/* Start: ASTEROID BELT */

.asteroid_belt {
  opacity: 0.328;
  will-change: transform;
  border-color: transparent !important;
  width: var(--orb-asteroid-belt);
  height: var(--orb-asteroid-belt);
  margin-top: calc(-0.5 * var(--orb-asteroid-belt));
  margin-left: calc(-0.5 * var(--orb-asteroid-belt));
  -webkit-animation: orb 179.9558282773s linear infinite;
  animation: orb 179.9558282773s linear infinite;
  overflow: hidden;
  position: absolute;
  content: "";
  top:50%;
}

.asteroid_belt::before {
  top:50%;
  width: var(--pl-asteroid-belt);
  height: var(--pl-asteroid-belt);
  margin-top: calc(-0.5 * var(--pl-asteroid-belt));
  margin-left: calc(-0.5 * var(--pl-asteroid-belt));
  background: transparent;
  --belt-radius: 140px;
  border-radius:  var(--belt-radius) !important;

  box-shadow: 119px 133px 0 -104px rgba(255, 255, 255, 0.816),
    97px -48px 0 -104px rgba(255, 255, 255, 0.665),
    -88px 77px 0 -104px rgba(255, 255, 255, 0.895),
    72px 2px 0 -104px rgba(255, 255, 255, 0.775),
    -76px -22px 0 -104px rgba(255, 255, 255, 0.769),
    -59px -63px 0 -104px rgba(255, 255, 255, 0.185),
    -36px 28px 0 -104px rgba(255, 255, 255, 0.918),
    -113px -57px 0 -104px rgba(255, 255, 255, 0.246),
    -60px -55px 0 -104px rgba(255, 255, 255, 0.617),
    -40px 33px 0 -104px rgba(255, 255, 255, 0.037),
    -101px -7px 0 -104px rgba(255, 255, 255, 0.29),
    -35px -120px 0 -104px rgba(255, 255, 255, 0.097),
    -36px 112px 0 -104px rgba(255, 255, 255, 0.417),
    -45px 145px 0 -104px rgba(255, 255, 255, 0.137),
    17px 113px 0 -104px rgba(255, 255, 255, 0.644),
    -113px -48px 0 -104px rgba(255, 255, 255, 0.563),
    -83px 120px 0 -104px rgba(255, 255, 255, 0.104),
    -118px 75px 0 -104px rgba(255, 255, 255, 0.164),
    90px -60px 0 -104px rgba(255, 255, 255, 0.636),
    84px -117px 0 -104px rgba(255, 255, 255, 0.464),
    -120px -129px 0 -104px rgba(255, 255, 255, 0.484),
    135px 118px 0 -104px rgba(255, 255, 255, 0.568),
    -83px 125px 0 -104px rgba(255, 255, 255, 0.429),
    -126px -136px 0 -104px rgba(255, 255, 255, 0.83),
    136px -67px 0 -104px rgba(255, 255, 255, 0.433),
    80px -87px 0 -104px rgba(255, 255, 255, 0.81),
    126px 132px 0 -104px rgba(255, 255, 255, 0.905),
    8px -3px 0 -104px rgba(255, 255, 255, 0.965),
    -48px 117px 0 -104px rgba(255, 255, 255, 0.505),
    121px 39px 0 -104px rgba(255, 255, 255, 0.501),
    -136px 56px 0 -104px rgba(255, 255, 255, 0.652),
    9px -69px 0 -104px rgba(255, 255, 255, 0.581),
    -140px 75px 0 -104px rgba(255, 255, 255, 0.696),
    -96px 23px 0 -104px rgba(255, 255, 255, 0.16),
    3px 25px 0 -104px rgba(255, 255, 255, 0.772),
    116px 23px 0 -104px rgba(255, 255, 255, 0.435),
    8px 68px 0 -104px rgba(255, 255, 255, 0.884),
    29px -102px 0 -104px rgba(255, 255, 255, 0.082),
    92px 137px 0 -104px rgba(255, 255, 255, 0.433),
    139px -65px 0 -104px rgba(255, 255, 255, 0.04),
    -2px 134px 0 -104px rgba(255, 255, 255, 0.775),
    -107px 39px 0 -104px rgba(255, 255, 255, 0.973),
    0px 49px 0 -104px rgba(255, 255, 255, 0.332),
    -41px 58px 0 -104px rgba(255, 255, 255, 0.405),
    9px -56px 0 -104px rgba(255, 255, 255, 0.259),
    -121px -103px 0 -104px rgba(255, 255, 255, 0.562),
    24px -45px 0 -104px rgba(255, 255, 255, 0.802),
    -75px 9px 0 -104px rgba(255, 255, 255, 0.322),
    -43px -48px 0 -104px rgba(255, 255, 255, 0.849),
    -68px 20px 0 -104px rgba(255, 255, 255, 0.955),
    103px 128px 0 -104px rgba(255, 255, 255, 0.797),
    10px 73px 0 -104px rgba(255, 255, 255, 0.696),
    -127px 24px 0 -104px rgba(255, 255, 255, 0.823),
    -134px 20px 0 -104px rgba(255, 255, 255, 0.293),
    -132px 58px 0 -104px rgba(255, 255, 255, 0.926),
    -88px 51px 0 -104px rgba(255, 255, 255, 0.237),
    -70px -55px 0 -104px rgba(255, 255, 255, 0.914),
    4px 43px 0 -104px rgba(255, 255, 255, 0.799),
    -75px 66px 0 -104px rgba(255, 255, 255, 0.467),
    -26px 58px 0 -104px rgba(255, 255, 255, 0.193),
    -4px -35px 0 -104px rgba(255, 255, 255, 0.004),
    -114px -112px 0 -104px rgba(255, 255, 255, 0.615),
    67px 136px 0 -104px rgba(255, 255, 255, 0.04),
    -116px -88px 0 -104px rgba(255, 255, 255, 0.04),
    -69px 134px 0 -104px rgba(255, 255, 255, 0.937),
    -31px -22px 0 -104px rgba(255, 255, 255, 0.995),
    133px -60px 0 -104px rgba(255, 255, 255, 0.295),
    94px -77px 0 -104px rgba(255, 255, 255, 0.978),
    -105px 139px 0 -104px rgba(255, 255, 255, 0.069),
    -123px -128px 0 -104px rgba(255, 255, 255, 0.537),
    53px 93px 0 -104px rgba(255, 255, 255, 0.122),
    -59px -99px 0 -104px rgba(255, 255, 255, 0.931),
    13px -17px 0 -104px rgba(255, 255, 255, 0.207),
    115px 62px 0 -104px rgba(255, 255, 255, 0.586),
    -129px -101px 0 -104px rgba(255, 255, 255, 0.502),
    -130px 104px 0 -104px rgba(255, 255, 255, 0.716),
    -26px 108px 0 -104px rgba(255, 255, 255, 0.901),
    33px 45px 0 -104px rgba(255, 255, 255, 0.412),
    95px -97px 0 -104px rgba(255, 255, 255, 0.713),
    -8px 135px 0 -104px rgba(255, 255, 255, 0.458),
    -63px 5px 0 -104px rgba(255, 255, 255, 0.384),
    19px 19px 0 -104px rgba(255, 255, 255, 0.593),
    127px -35px 0 -104px rgba(255, 255, 255, 0.951),
    60px -39px 0 -104px rgba(255, 255, 255, 0.469),
    93px 103px 0 -104px rgba(255, 255, 255, 0.911),
    126px -16px 0 -104px rgba(255, 255, 255, 0.785),
    -33px -70px 0 -104px rgba(255, 255, 255, 0.836),
    -1px -67px 0 -104px rgba(255, 255, 255, 0.971),
    12px 137px 0 -104px rgba(255, 255, 255, 0.719),
    131px 54px 0 -104px rgba(255, 255, 255, 0.685),
    27px -142px 0 -104px rgba(255, 255, 255, 0.931),
    -87px -121px 0 -104px rgba(255, 255, 255, 0.015),
    115px 58px 0 -104px rgba(255, 255, 255, 0.981),
    139px -142px 0 -104px rgba(255, 255, 255, 0.985),
    -120px 83px 0 -104px rgba(255, 255, 255, 0.656),
    -60px -90px 0 -104px rgba(255, 255, 255, 0.904),
    -118px 133px 0 -104px rgba(255, 255, 255, 1),
    -6px 118px 0 -104px rgba(255, 255, 255, 0.142),
    -62px 84px 0 -104px rgba(255, 255, 255, 0.516),
    -137px 74px 0 -104px rgba(255, 255, 255, 0.574),
    -122px -72px 0 -104px rgba(255, 255, 255, 0.035),
    -47px -49px 0 -104px rgba(255, 255, 255, 0.022),
    -13px 92px 0 -104px rgba(255, 255, 255, 0.51),
    -98px 91px 0 -104px rgba(255, 255, 255, 0.728),
    -73px -130px 0 -104px rgba(255, 255, 255, 0.737),
    70px 94px 0 -104px rgba(255, 255, 255, 0.867),
    -101px 83px 0 -104px rgba(255, 255, 255, 0.327),
    85px 136px 0 -104px rgba(255, 255, 255, 0.349),
    34px 133px 0 -104px rgba(255, 255, 255, 0.278),
    -19px 23px 0 -104px rgba(255, 255, 255, 0.902),
    105px -141px 0 -104px rgba(255, 255, 255, 0.733),
    43px -36px 0 -104px rgba(255, 255, 255, 0.111),
    24px 142px 0 -104px rgba(255, 255, 255, 0.195),
    44px -22px 0 -104px rgba(255, 255, 255, 0.189),
    -93px -29px 0 -104px rgba(255, 255, 255, 0.997),
    -75px 82px 0 -104px rgba(255, 255, 255, 0.57),
    100px 58px 0 -104px rgba(255, 255, 255, 0.106),
    126px -70px 0 -104px rgba(255, 255, 255, 0.16),
    -18px -94px 0 -104px rgba(255, 255, 255, 0.293),
    91px -53px 0 -104px rgba(255, 255, 255, 0.435),
    28px 29px 0 -104px rgba(255, 255, 255, 0.459),
    13px -78px 0 -104px rgba(255, 255, 255, 0.28),
    79px -2px 0 -104px rgba(255, 255, 255, 0.581),
    121px 115px 0 -104px rgba(255, 255, 255, 0.043),
    48px -110px 0 -104px rgba(255, 255, 255, 0.633),
    -20px 44px 0 -104px rgba(255, 255, 255, 0.528),
    -33px 133px 0 -104px rgba(255, 255, 255, 0.85),
    74px -16px 0 -104px rgba(255, 255, 255, 0.465),
    55px -121px 0 -104px rgba(255, 255, 255, 0.467),
    -77px -132px 0 -104px rgba(255, 255, 255, 0.916),
    90px 131px 0 -104px rgba(255, 255, 255, 0.275),
    -74px 41px 0 -104px rgba(255, 255, 255, 0.161),
    -59px 130px 0 -104px rgba(255, 255, 255, 0.07),
    72px 60px 0 -104px rgba(255, 255, 255, 0.446),
    -67px -28px 0 -104px rgba(255, 255, 255, 0.485),
    -84px -118px 0 -104px rgba(255, 255, 255, 0.641),
    -61px 16px 0 -104px rgba(255, 255, 255, 0.536),
    -46px 51px 0 -104px rgba(255, 255, 255, 0.481),
    4px -6px 0 -104px rgba(255, 255, 255, 0.482),
    50px -131px 0 -104px rgba(255, 255, 255, 0.267),
    92px 4px 0 -104px rgba(255, 255, 255, 0.988),
    -96px 6px 0 -104px rgba(255, 255, 255, 0.264),
    3px 131px 0 -104px rgba(255, 255, 255, 0.427),
    70px -52px 0 -104px rgba(255, 255, 255, 0.535),
    -74px -122px 0 -104px rgba(255, 255, 255, 0.741),
    18px 92px 0 -104px rgba(255, 255, 255, 0.779),
    -84px -98px 0 -104px rgba(255, 255, 255, 0.109),
    -29px 19px 0 -104px rgba(255, 255, 255, 0.647),
    -107px -38px 0 -104px rgba(255, 255, 255, 0.741),
    131px 29px 0 -104px rgba(255, 255, 255, 0.84),
    -44px -13px 0 -104px rgba(255, 255, 255, 0.545),
    -112px 131px 0 -104px rgba(255, 255, 255, 0.52),
    -16px 85px 0 -104px rgba(255, 255, 255, 0.626),
    -85px 128px 0 -104px rgba(255, 255, 255, 0.086),
    -133px -98px 0 -104px rgba(255, 255, 255, 0.321),
    19px -89px 0 -104px rgba(255, 255, 255, 0.758),
    -116px 12px 0 -104px rgba(255, 255, 255, 0.498),
    -92px 9px 0 -104px rgba(255, 255, 255, 0.228),
    119px -57px 0 -104px rgba(255, 255, 255, 0.327),
    145px 142px 0 -104px rgba(255, 255, 255, 0.312),
    63px -119px 0 -104px rgba(255, 255, 255, 0.177),
    -129px 16px 0 -104px rgba(255, 255, 255, 0.425),
    -131px 111px 0 -104px rgba(255, 255, 255, 0.955),
    -81px -13px 0 -104px rgba(255, 255, 255, 0.075),
    -55px -138px 0 -104px rgba(255, 255, 255, 0.119),
    -32px 27px 0 -104px rgba(255, 255, 255, 0.618),
    0px -9px 0 -104px rgba(255, 255, 255, 0.883),
    8px 109px 0 -104px rgba(255, 255, 255, 0.499),
    -139px -19px 0 -104px rgba(255, 255, 255, 0.57),
    137px -90px 0 -104px rgba(255, 255, 255, 0.105),
    103px -112px 0 -104px rgba(255, 255, 255, 0.984),
    136px 31px 0 -104px rgba(255, 255, 255, 0.409),
    46px -9px 0 -104px rgba(255, 255, 255, 0.537),
    91px -68px 0 -104px rgba(255, 255, 255, 0.586),
    104px -144px 0 -104px rgba(255, 255, 255, 0.123),
    -98px 60px 0 -104px rgba(255, 255, 255, 0.128),
    55px 63px 0 -104px rgba(255, 255, 255, 0.394),
    54px 95px 0 -104px rgba(255, 255, 255, 0.028),
    -45px 31px 0 -104px rgba(255, 255, 255, 0.732),
    128px 79px 0 -104px rgba(255, 255, 255, 0.082),
    -72px 93px 0 -104px rgba(255, 255, 255, 0.211),
    5px -139px 0 -104px rgba(255, 255, 255, 0.399),
    -43px 0px 0 -104px rgba(255, 255, 255, 0.243),
    121px 123px 0 -104px rgba(255, 255, 255, 0.297),
    -37px 76px 0 -104px rgba(255, 255, 255, 0.25),
    50px -44px 0 -104px rgba(255, 255, 255, 0.44),
    -96px 91px 0 -104px rgba(255, 255, 255, 0.861),
    48px -25px 0 -104px rgba(255, 255, 255, 0.378),
    -42px 93px 0 -104px rgba(255, 255, 255, 0.51),
    -138px -77px 0 -104px rgba(255, 255, 255, 0.492),
    106px 81px 0 -104px rgba(255, 255, 255, 0.502),
    -6px -78px 0 -104px rgba(255, 255, 255, 0.087),
    -5px -18px 0 -104px rgba(255, 255, 255, 0.679),
    -36px -138px 0 -104px rgba(255, 255, 255, 0.458),
    -106px 126px 0 -104px rgba(255, 255, 255, 0.504),
    98px -126px 0 -104px rgba(255, 255, 255, 0.429),
    22px -138px 0 -104px rgba(255, 255, 255, 0.024),
    99px 131px 0 -104px rgba(255, 255, 255, 0.753),
    106px -88px 0 -104px rgba(255, 255, 255, 0.65),
    61px -52px 0 -104px rgba(255, 255, 255, 0.721),
    22px -27px 0 -104px rgba(255, 255, 255, 0.598),
    4px -114px 0 -104px rgba(255, 255, 255, 0.331),
    49px -105px 0 -104px rgba(255, 255, 255, 0.341),
    -139px -119px 0 -104px rgba(255, 255, 255, 0.097),
    -114px -89px 0 -104px rgba(255, 255, 255, 0.366),
    112px 145px 0 -104px rgba(255, 255, 255, 0.378),
    82px -102px 0 -104px rgba(255, 255, 255, 0.579),
    142px -39px 0 -104px rgba(255, 255, 255, 0.051),
    -66px 77px 0 -104px rgba(255, 255, 255, 0.089),
    -24px 9px 0 -104px rgba(255, 255, 255, 0.176),
    45px 15px 0 -104px rgba(255, 255, 255, 0.488),
    -64px -20px 0 -104px rgba(255, 255, 255, 0.04),
    -97px 19px 0 -104px rgba(255, 255, 255, 0.073),
    -52px 104px 0 -104px rgba(255, 255, 255, 0.001),
    32px 55px 0 -104px rgba(255, 255, 255, 0.661),
    140px -114px 0 -104px rgba(255, 255, 255, 0.609),
    -10px -82px 0 -104px rgba(255, 255, 255, 0.16),
    107px 109px 0 -104px rgba(255, 255, 255, 0.109),
    -17px -121px 0 -104px rgba(255, 255, 255, 0.609),
    6px 86px 0 -104px rgba(255, 255, 255, 0.765),
    79px 138px 0 -104px rgba(255, 255, 255, 0.155),
    -93px 80px 0 -104px rgba(255, 255, 255, 0.957),
    -117px -18px 0 -104px rgba(255, 255, 255, 0.45),
    45px 60px 0 -104px rgba(255, 255, 255, 0.934),
    139px -10px 0 -104px rgba(255, 255, 255, 0.302),
    8px -124px 0 -104px rgba(255, 255, 255, 0.785),
    -30px -49px 0 -104px rgba(255, 255, 255, 0.287),
    -137px -101px 0 -104px rgba(255, 255, 255, 0.356),
    -106px -123px 0 -104px rgba(255, 255, 255, 0.281),
    67px -112px 0 -104px rgba(255, 255, 255, 0.207),
    16px 127px 0 -104px rgba(255, 255, 255, 0.601),
    85px -48px 0 -104px rgba(255, 255, 255, 0.593),
    116px -3px 0 -104px rgba(255, 255, 255, 0.041),
    -75px -80px 0 -104px rgba(255, 255, 255, 0.032),
    -91px -107px 0 -104px rgba(255, 255, 255, 0.151),
    -131px 108px 0 -104px rgba(255, 255, 255, 0.408),
    -89px -18px 0 -104px rgba(255, 255, 255, 0.9),
    -127px -60px 0 -104px rgba(255, 255, 255, 0.137),
    29px -47px 0 -104px rgba(255, 255, 255, 0.516),
    88px 48px 0 -104px rgba(255, 255, 255, 0.232),
    142px -78px 0 -104px rgba(255, 255, 255, 0.401),
    8px 13px 0 -104px rgba(255, 255, 255, 0.516),
    4px 56px 0 -104px rgba(255, 255, 255, 0.66),
    -32px -49px 0 -104px rgba(255, 255, 255, 0.737),
    -60px -22px 0 -104px rgba(255, 255, 255, 0.514),
    117px 84px 0 -104px rgba(255, 255, 255, 0.308),
    -84px 112px 0 -104px rgba(255, 255, 255, 0.385),
    -63px 131px 0 -104px rgba(255, 255, 255, 0.284),
    -12px 112px 0 -104px rgba(255, 255, 255, 0.987),
    45px -9px 0 -104px rgba(255, 255, 255, 0.879),
    54px -44px 0 -104px rgba(255, 255, 255, 0.032),
    72px -63px 0 -104px rgba(255, 255, 255, 0.312),
    69px 27px 0 -104px rgba(255, 255, 255, 0.084),
    43px -106px 0 -104px rgba(255, 255, 255, 0.961),
    -137px -76px 0 -104px rgba(255, 255, 255, 0.596),
    -79px 74px 0 -104px rgba(255, 255, 255, 0.908),
    39px -24px 0 -104px rgba(255, 255, 255, 0.35),
    -19px -117px 0 -104px rgba(255, 255, 255, 0.92),
    54px -79px 0 -104px rgba(255, 255, 255, 0.331),
    -24px 75px 0 -104px rgba(255, 255, 255, 0.244),
    9px -30px 0 -104px rgba(255, 255, 255, 0.661),
    -121px -53px 0 -104px rgba(255, 255, 255, 0.083),
    16px -28px 0 -104px rgba(255, 255, 255, 0.828),
    81px 45px 0 -104px rgba(255, 255, 255, 0.915),
    -42px 127px 0 -104px rgba(255, 255, 255, 0.135),
    -95px -73px 0 -104px rgba(255, 255, 255, 0.587),
    -41px -144px 0 -104px rgba(255, 255, 255, 0.652),
    -50px -102px 0 -104px rgba(255, 255, 255, 0.279),
    -91px -44px 0 -104px rgba(255, 255, 255, 0.707),
    97px 102px 0 -104px rgba(255, 255, 255, 0.245),
    -77px 15px 0 -104px rgba(255, 255, 255, 0.727),
    135px -119px 0 -104px rgba(255, 255, 255, 0.774),
    -133px -72px 0 -104px rgba(255, 255, 255, 0.821),
    -35px -130px 0 -104px rgba(255, 255, 255, 0.142),
    56px -15px 0 -104px rgba(255, 255, 255, 0.329),
    140px 96px 0 -104px rgba(255, 255, 255, 0.254),
    140px -67px 0 -104px rgba(255, 255, 255, 0.955),
    -101px -53px 0 -104px rgba(255, 255, 255, 0.273),
    -40px -45px 0 -104px rgba(255, 255, 255, 0.925),
    37px 97px 0 -104px rgba(255, 255, 255, 0.317),
    -5px 121px 0 -104px rgba(255, 255, 255, 0.402),
    -101px 43px 0 -104px rgba(255, 255, 255, 0.4),
    -110px 109px 0 -104px rgba(255, 255, 255, 0.416),
    79px -119px 0 -104px rgba(255, 255, 255, 0.262),
    67px -66px 0 -104px rgba(255, 255, 255, 0.173),
    61px -89px 0 -104px rgba(255, 255, 255, 0.723),
    3px 25px 0 -104px rgba(255, 255, 255, 0.01),
    137px -99px 0 -104px rgba(255, 255, 255, 0.327),
    72px -97px 0 -104px rgba(255, 255, 255, 0.797),
    -62px 50px 0 -104px rgba(255, 255, 255, 0.107),
    -140px -130px 0 -104px rgba(255, 255, 255, 0.994),
    68px 134px 0 -104px rgba(255, 255, 255, 0.96),
    62px 102px 0 -104px rgba(255, 255, 255, 0.675),
    101px -87px 0 -104px rgba(255, 255, 255, 0.726),
    110px 103px 0 -104px rgba(255, 255, 255, 0.023),
    106px -143px 0 -104px rgba(255, 255, 255, 0.735),
    60px -114px 0 -104px rgba(255, 255, 255, 0.87),
    -48px 6px 0 -104px rgba(255, 255, 255, 0.815),
    -46px -54px 0 -104px rgba(255, 255, 255, 0.568),
    -141px -75px 0 -104px rgba(255, 255, 255, 0.465),
    65px 125px 0 -104px rgba(255, 255, 255, 0.159),
    129px -49px 0 -104px rgba(255, 255, 255, 0.303),
    53px -5px 0 -104px rgba(255, 255, 255, 0.318),
    -83px -109px 0 -104px rgba(255, 255, 255, 0.632),
    -66px 39px 0 -104px rgba(255, 255, 255, 0.978),
    52px 118px 0 -104px rgba(255, 255, 255, 0.244),
    -83px -7px 0 -104px rgba(255, 255, 255, 0.599),
    -123px -131px 0 -104px rgba(255, 255, 255, 0.19),
    -23px 108px 0 -104px rgba(255, 255, 255, 0.593),
    -85px 43px 0 -104px rgba(255, 255, 255, 0.466),
    -143px 92px 0 -104px rgba(255, 255, 255, 0.637),
    -136px -45px 0 -104px rgba(255, 255, 255, 0.215),
    -25px -17px 0 -104px rgba(255, 255, 255, 0.695),
    45px -132px 0 -104px rgba(255, 255, 255, 0.992),
    31px -64px 0 -104px rgba(255, 255, 255, 0.165),
    20px -39px 0 -104px rgba(255, 255, 255, 0.953),
    -14px -32px 0 -104px rgba(255, 255, 255, 0.788),
    56px -59px 0 -104px rgba(255, 255, 255, 0.713),
    54px -97px 0 -104px rgba(255, 255, 255, 0.32),
    120px 34px 0 -104px rgba(255, 255, 255, 0.724),
    -17px -20px 0 -104px rgba(255, 255, 255, 0.555),
    -21px 58px 0 -104px rgba(255, 255, 255, 0.01),
    -135px 84px 0 -104px rgba(255, 255, 255, 0.296),
    -68px -43px 0 -104px rgba(255, 255, 255, 0.537),
    133px 73px 0 -104px rgba(255, 255, 255, 0.279),
    120px 55px 0 -104px rgba(255, 255, 255, 0.305),
    135px 32px 0 -104px rgba(255, 255, 255, 0.486),
    -97px 25px 0 -104px rgba(255, 255, 255, 0.503),
    60px -93px 0 -104px rgba(255, 255, 255, 0.683),
    -77px 92px 0 -104px rgba(255, 255, 255, 0.996),
    -133px 85px 0 -104px rgba(255, 255, 255, 0.45),
    -39px -126px 0 -104px rgba(255, 255, 255, 0.464),
    57px 16px 0 -104px rgba(255, 255, 255, 0.139),
    77px 135px 0 -104px rgba(255, 255, 255, 0.592),
    42px 6px 0 -104px rgba(255, 255, 255, 0.511),
    -68px 89px 0 -104px rgba(255, 255, 255, 0.947),
    103px 70px 0 -104px rgba(255, 255, 255, 0.149),
    -57px 65px 0 -104px rgba(255, 255, 255, 0.316),
    -135px 99px 0 -104px rgba(255, 255, 255, 0.52),
    99px 120px 0 -104px rgba(255, 255, 255, 0.77),
    -118px -113px 0 -104px rgba(255, 255, 255, 0.021),
    -102px -59px 0 -104px rgba(255, 255, 255, 0.092),
    -53px -51px 0 -104px rgba(255, 255, 255, 0.069),
    -23px 95px 0 -104px rgba(255, 255, 255, 0.547),
    -85px 53px 0 -104px rgba(255, 255, 255, 0.428),
    59px 142px 0 -104px rgba(255, 255, 255, 0.566),
    -74px 58px 0 -104px rgba(255, 255, 255, 0.431),
    -119px -41px 0 -104px rgba(255, 255, 255, 0.18),
    41px -42px 0 -104px rgba(255, 255, 255, 0.002),
    27px -143px 0 -104px rgba(255, 255, 255, 0.406),
    -92px 104px 0 -104px rgba(255, 255, 255, 0.017),
    36px 86px 0 -104px rgba(255, 255, 255, 0.507),
    -131px 110px 0 -104px rgba(255, 255, 255, 0.998),
    -39px -24px 0 -104px rgba(255, 255, 255, 0.5),
    130px -51px 0 -104px rgba(255, 255, 255, 0.859),
    105px -78px 0 -104px rgba(255, 255, 255, 0.618),
    43px 46px 0 -104px rgba(255, 255, 255, 0.795),
    126px 89px 0 -104px rgba(255, 255, 255, 0.198),
    -116px 30px 0 -104px rgba(255, 255, 255, 0.063),
    126px 43px 0 -104px rgba(255, 255, 255, 0.369),
    -27px 42px 0 -104px rgba(255, 255, 255, 0.822),
    107px -38px 0 -104px rgba(255, 255, 255, 0.406),
    108px 127px 0 -104px rgba(255, 255, 255, 0.436),
    35px -58px 0 -104px rgba(255, 255, 255, 0.842),
    92px -84px 0 -104px rgba(255, 255, 255, 0.738),
    -115px -13px 0 -104px rgba(255, 255, 255, 0.955),
    144px -49px 0 -104px rgba(255, 255, 255, 0.61),
    -1px -24px 0 -104px rgba(255, 255, 255, 0.601),
    73px -113px 0 -104px rgba(255, 255, 255, 0.069),
    63px -34px 0 -104px rgba(255, 255, 255, 0.213),
    100px 76px 0 -104px rgba(255, 255, 255, 0.113),
    121px -61px 0 -104px rgba(255, 255, 255, 0.165),
    -27px -115px 0 -104px rgba(255, 255, 255, 0.821),
    45px 7px 0 -104px rgba(255, 255, 255, 0.517),
    90px -20px 0 -104px rgba(255, 255, 255, 0.79),
    -5px -89px 0 -104px rgba(255, 255, 255, 0.857),
    42px 119px 0 -104px rgba(255, 255, 255, 0.796),
    99px 106px 0 -104px rgba(255, 255, 255, 0.471),
    122px -1px 0 -104px rgba(255, 255, 255, 0.213),
    141px -91px 0 -104px rgba(255, 255, 255, 0.336),
    44px -7px 0 -104px rgba(255, 255, 255, 0.184),
    139px -49px 0 -104px rgba(255, 255, 255, 0.155),
    101px -144px 0 -104px rgba(255, 255, 255, 0.645),
    -39px -63px 0 -104px rgba(255, 255, 255, 0.045),
    -21px 143px 0 -104px rgba(255, 255, 255, 0.467),
    116px 32px 0 -104px rgba(255, 255, 255, 0.749),
    134px 65px 0 -104px rgba(255, 255, 255, 0.274),
    123px -120px 0 -104px rgba(255, 255, 255, 0.045),
    86px 125px 0 -104px rgba(255, 255, 255, 0.182),
    -112px 74px 0 -104px rgba(255, 255, 255, 0.042);
}

/* End: ASTEROID BELT */


/* Start: Keyframes orb */

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* End: Keyframes orb */

.solar::after {
  display: none;
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  inset: 0;
  left: -600px;
  top: -666px;
  transform:scale(0.65);
  --tw-bg-opacity: 1;
  background:white;
  border-radius:100px;
  box-shadow: 1282px 762px 0 0px rgba(255, 255, 255, 0.75) , 14px 1620px 0 0px rgba(255,255,255, 0.466) , 1455px 181px 0 0px rgba(255,255,255, 0.986) , 875px 1736px 0 0px rgba(255,255,255, 0.375) , 1264px 1786px 0 0px rgba(255,255,255, 0.892) , 209px 1038px 0 0px rgba(255,255,255, 0.138) , 744px 1401px 0 0px rgba(255,255,255, 0.892) , 1663px 1035px 0 0px rgba(255,255,255, 0.299) , 836px 460px 0 0px rgba(255,255,255, 0.802) , 1331px 1528px 0 0px rgba(255,255,255, 0.503) , 1718px 214px 0 0px rgba(255,255,255, 0.164) , 765px 585px 0 0px rgba(255,255,255, 0.122) , 1240px 1561px 0 0px rgba(255,255,255, 0.551) , 1672px 536px 0 0px rgba(255,255,255, 0.058) , 373px 435px 0 0px rgba(255,255,255, 0.87) , 1589px 777px 0 0px rgba(255,255,255, 0.474) , 428px 557px 0 0px rgba(255,255,255, 0.718) , 1044px 1167px 0 0px rgba(255,255,255, 0.698) , 1567px 1309px 0 0px rgba(255,255,255, 0.698) , 608px 88px 0 0px rgba(255,255,255, 0.986) , 354px 1334px 0 0px rgba(255,255,255, 0.085) , 1474px 739px 0 0px rgba(255,255,255, 0.124) , 626px 723px 0 0px rgba(255,255,255, 0.563) , 224px 1711px 0 0px rgba(255,255,255, 0.108) , 860px 454px 0 0px rgba(255,255,255, 0.792) , 1592px 1157px 0 0px rgba(255,255,255, 0.261) , 1009px 20px 0 0px rgba(255,255,255, 0.129) , 758px 1290px 0 0px rgba(255,255,255, 0.746) , 528px 885px 0 0px rgba(255,255,255, 0.466) , 1457px 876px 0 0px rgba(255,255,255, 0.897) , 1568px 1069px 0 0px rgba(255,255,255, 0.474) , 541px 662px 0 0px rgba(255,255,255, 0.884) , 1757px 1798px 0 0px rgba(255,255,255, 0.442) , 1755px 61px 0 0px rgba(255,255,255, 0.956) , 269px 867px 0 0px rgba(255,255,255, 0.215) , 1080px 507px 0 0px rgba(255,255,255, 0.279) , 1566px 1513px 0 0px rgba(255,255,255, 0.67) , 1511px 258px 0 0px rgba(255,255,255, 0.913) , 15px 1621px 0 0px rgba(255,255,255, 0.986) , 477px 390px 0 0px rgba(255,255,255, 0.785) , 441px 930px 0 0px rgba(255,255,255, 0.803) , 611px 478px 0 0px rgba(255,255,255, 0.785) , 619px 100px 0 0px rgba(255,255,255, 0.006) , 1336px 304px 0 0px rgba(255,255,255, 0.176) , 1226px 1550px 0 0px rgba(255,255,255, 0.974) , 1589px 97px 0 0px rgba(255,255,255, 0.315) , 1239px 370px 0 0px rgba(255,255,255, 0.45) , 1343px 134px 0 0px rgba(255,255,255, 0.354) , 1775px 139px 0 0px rgba(255,255,255, 0.659) , 354px 1116px 0 0px rgba(255,255,255, 0.988) , 269px 151px 0 0px rgba(255,255,255, 0.117) , 1301px 688px 0 0px rgba(255,255,255, 0.602) , 138px 32px 0 0px rgba(255,255,255, 0.894) , 1148px 177px 0 0px rgba(255,255,255, 0.71) , 1656px 96px 0 0px rgba(255,255,255, 0.604) , 266px 980px 0 0px rgba(255,255,255, 0.731) , 1404px 642px 0 0px rgba(255,255,255, 0.573) , 486px 391px 0 0px rgba(255,255,255, 0.245) , 602px 1311px 0 0px rgba(255,255,255, 0.881) , 936px 1367px 0 0px rgba(255,255,255, 0.95) , 1354px 1025px 0 0px rgba(255,255,255, 0.021) , 1796px 783px 0 0px rgba(255,255,255, 0.971) , 698px 1150px 0 0px rgba(255,255,255, 0.934) , 13px 1479px 0 0px rgba(255,255,255, 0.625) , 494px 148px 0 0px rgba(255,255,255, 0.299) , 38px 140px 0 0px rgba(255,255,255, 0.681) , 1401px 170px 0 0px rgba(255,255,255, 0.461) , 1055px 1246px 0 0px rgba(255,255,255, 0.554) , 450px 1762px 0 0px rgba(255,255,255, 0.27) , 392px 441px 0 0px rgba(255,255,255, 0.633) , 489px 694px 0 0px rgba(255,255,255, 0.159) , 1112px 1432px 0 0px rgba(255,255,255, 0.321) , 677px 546px 0 0px rgba(255,255,255, 0.729) , 392px 900px 0 0px rgba(255,255,255, 0.041) , 741px 663px 0 0px rgba(255,255,255, 0.411) , 621px 673px 0 0px rgba(255,255,255, 0.3) , 498px 1038px 0 0px rgba(255,255,255, 0.468) , 548px 1056px 0 0px rgba(255,255,255, 0.124) , 14px 218px 0 0px rgba(255,255,255, 0.61) , 872px 562px 0 0px rgba(255,255,255, 0.226) , 300px 1037px 0 0px rgba(255,255,255, 0.512) , 901px 530px 0 0px rgba(255,255,255, 0.036) , 849px 631px 0 0px rgba(255,255,255, 0.172) , 795px 906px 0 0px rgba(255,255,255, 0.992) , 1195px 917px 0 0px rgba(255,255,255, 0.946) , 313px 1644px 0 0px rgba(255,255,255, 0.324) , 857px 991px 0 0px rgba(255,255,255, 0.479) , 1237px 1684px 0 0px rgba(255,255,255, 0.336) , 1313px 261px 0 0px rgba(255,255,255, 0.633) , 1371px 1206px 0 0px rgba(255,255,255, 0.705) , 1719px 1517px 0 0px rgba(255,255,255, 0.138) , 599px 220px 0 0px rgba(255,255,255, 0.916) , 1176px 1586px 0 0px rgba(255,255,255, 0.8) , 1299px 773px 0 0px rgba(255,255,255, 0.243) , 572px 485px 0 0px rgba(255,255,255, 0.556) , 1606px 277px 0 0px rgba(255,255,255, 0.013) , 1699px 1234px 0 0px rgba(255,255,255, 0.113) , 1368px 396px 0 0px rgba(255,255,255, 0.643) , 908px 1115px 0 0px rgba(255,255,255, 0.198) , 497px 644px 0 0px rgba(255,255,255, 0.09) , 1393px 1604px 0 0px rgba(255,255,255, 0.392) , 1206px 581px 0 0px rgba(255,255,255, 0.803) , 899px 589px 0 0px rgba(255,255,255, 0.293) , 406px 1202px 0 0px rgba(255,255,255, 0.968) , 154px 414px 0 0px rgba(255,255,255, 0.66) , 61px 847px 0 0px rgba(255,255,255, 0.821) , 928px 354px 0 0px rgba(255,255,255, 0.251) , 1559px 596px 0 0px rgba(255,255,255, 0.19) , 1230px 987px 0 0px rgba(255,255,255, 0.673) , 950px 1676px 0 0px rgba(255,255,255, 0.311) , 660px 591px 0 0px rgba(255,255,255, 0.425) , 1686px 1787px 0 0px rgba(255,255,255, 0.883) , 1480px 1479px 0 0px rgba(255,255,255, 0.453) , 668px 1325px 0 0px rgba(255,255,255, 0.265) , 699px 1235px 0 0px rgba(255,255,255, 0.945) , 488px 133px 0 0px rgba(255,255,255, 0.486) , 1698px 1478px 0 0px rgba(255,255,255, 0.939) , 11px 241px 0 0px rgba(255,255,255, 0.131) , 133px 1682px 0 0px rgba(255,255,255, 0.687) , 700px 109px 0 0px rgba(255,255,255, 0.574) , 1152px 1240px 0 0px rgba(255,255,255, 0.497) , 1591px 453px 0 0px rgba(255,255,255, 0.225) , 1475px 1600px 0 0px rgba(255,255,255, 0.206) , 370px 574px 0 0px rgba(255,255,255, 0.107) , 490px 1569px 0 0px rgba(255,255,255, 0.336) , 5px 1700px 0 0px rgba(255,255,255, 0.06) , 258px 35px 0 0px rgba(255,255,255, 0.639) , 209px 1266px 0 0px rgba(255,255,255, 0.576) , 139px 1650px 0 0px rgba(255,255,255, 0.567) , 495px 886px 0 0px rgba(255,255,255, 0.823) , 1279px 1744px 0 0px rgba(255,255,255, 0.289) , 624px 1481px 0 0px rgba(255,255,255, 0.054) , 106px 1093px 0 0px rgba(255,255,255, 0.331) , 274px 1213px 0 0px rgba(255,255,255, 0.771) , 221px 640px 0 0px rgba(255,255,255, 0.656) , 1661px 128px 0 0px rgba(255,255,255, 0.347) , 1497px 354px 0 0px rgba(255,255,255, 0.126) , 867px 1477px 0 0px rgba(255,255,255, 0.214) , 1600px 683px 0 0px rgba(255,255,255, 0.85) , 1162px 747px 0 0px rgba(255,255,255, 0.389) , 1569px 1300px 0 0px rgba(255,255,255, 0.454) , 734px 1504px 0 0px rgba(255,255,255, 0.505) , 345px 465px 0 0px rgba(255,255,255, 0.366) , 1735px 1142px 0 0px rgba(255,255,255, 0.434) , 886px 1336px 0 0px rgba(255,255,255, 0.751) , 1249px 878px 0 0px rgba(255,255,255, 0.098) , 775px 1274px 0 0px rgba(255,255,255, 0.88) , 38px 1333px 0 0px rgba(255,255,255, 0.412) , 36px 117px 0 0px rgba(255,255,255, 0.767) , 717px 202px 0 0px rgba(255,255,255, 0.464) , 620px 678px 0 0px rgba(255,255,255, 0.374) , 1766px 36px 0 0px rgba(255,255,255, 0.626) , 100px 848px 0 0px rgba(255,255,255, 0.734) , 324px 129px 0 0px rgba(255,255,255, 0.305) , 1430px 374px 0 0px rgba(255,255,255, 0.266) , 949px 570px 0 0px rgba(255,255,255, 0.272) , 1323px 383px 0 0px rgba(255,255,255, 0.069) , 1539px 642px 0 0px rgba(255,255,255, 0.97) , 79px 696px 0 0px rgba(255,255,255, 0.522) , 1608px 802px 0 0px rgba(255,255,255, 0.355) , 1773px 1778px 0 0px rgba(255,255,255, 0.712) , 281px 1446px 0 0px rgba(255,255,255, 0.226) , 748px 1546px 0 0px rgba(255,255,255, 0.096) , 1496px 541px 0 0px rgba(255,255,255, 0.869) , 922px 1155px 0 0px rgba(255,255,255, 0.977) , 892px 988px 0 0px rgba(255,255,255, 0.149) , 1305px 636px 0 0px rgba(255,255,255, 0.1) , 294px 1437px 0 0px rgba(255,255,255, 0.658) , 732px 1646px 0 0px rgba(255,255,255, 0.893) , 723px 1316px 0 0px rgba(255,255,255, 0.391) , 507px 1417px 0 0px rgba(255,255,255, 0.795) , 849px 594px 0 0px rgba(255,255,255, 0.318) , 1379px 165px 0 0px rgba(255,255,255, 0.449) , 166px 557px 0 0px rgba(255,255,255, 0.116) , 749px 1295px 0 0px rgba(255,255,255, 0.252) , 1542px 765px 0 0px rgba(255,255,255, 0.342) , 229px 279px 0 0px rgba(255,255,255, 0.868) , 304px 651px 0 0px rgba(255,255,255, 0.892) , 670px 1788px 0 0px rgba(255,255,255, 0.845) , 1615px 1345px 0 0px rgba(255,255,255, 0.419) , 1126px 68px 0 0px rgba(255,255,255, 0.23) , 853px 963px 0 0px rgba(255,255,255, 0.199) , 231px 1043px 0 0px rgba(255,255,255, 0.16) , 1417px 1660px 0 0px rgba(255,255,255, 0.395) , 970px 937px 0 0px rgba(255,255,255, 0.168) , 244px 1214px 0 0px rgba(255,255,255, 0.536) , 411px 1506px 0 0px rgba(255,255,255, 0.726) , 994px 580px 0 0px rgba(255,255,255, 0.086) , 943px 337px 0 0px rgba(255,255,255, 0.038) , 611px 1736px 0 0px rgba(255,255,255, 0.695) , 1408px 1413px 0 0px rgba(255,255,255, 0.912) , 806px 105px 0 0px rgba(255,255,255, 0.463) , 1540px 488px 0 0px rgba(255,255,255, 0.902) , 1619px 1092px 0 0px rgba(255,255,255, 0.906) , 492px 1563px 0 0px rgba(255,255,255, 0.728) , 1380px 1100px 0 0px rgba(255,255,255, 0.19) , 1219px 1448px 0 0px rgba(255,255,255, 0.933) , 475px 528px 0 0px rgba(255,255,255, 0.981) , 149px 1587px 0 0px rgba(255,255,255, 0.265) , 1741px 1501px 0 0px rgba(255,255,255, 0.274) , 1279px 1034px 0 0px rgba(255,255,255, 0.968) , 1639px 788px 0 0px rgba(255,255,255, 0.41) , 656px 671px 0 0px rgba(255,255,255, 0.154) , 57px 882px 0 0px rgba(255,255,255, 0.614) , 713px 824px 0 0px rgba(255,255,255, 0.246) , 1047px 725px 0 0px rgba(255,255,255, 0.751) , 382px 1693px 0 0px rgba(255,255,255, 0.894) , 1618px 1616px 0 0px rgba(255,255,255, 0.012) , 909px 1467px 0 0px rgba(255,255,255, 0.602) , 133px 168px 0 0px rgba(255,255,255, 0.213) , 1757px 202px 0 0px rgba(255,255,255, 0.261) , 409px 952px 0 0px rgba(255,255,255, 0.806) , 398px 98px 0 0px rgba(255,255,255, 0.828) , 742px 641px 0 0px rgba(255,255,255, 0.583) , 1075px 1673px 0 0px rgba(255,255,255, 0.544) , 334px 64px 0 0px rgba(255,255,255, 0.949) , 733px 1180px 0 0px rgba(255,255,255, 0.035) , 64px 61px 0 0px rgba(255,255,255, 0.931) , 1205px 300px 0 0px rgba(255,255,255, 0.791) , 1014px 1053px 0 0px rgba(255,255,255, 0.377) , 567px 1140px 0 0px rgba(255,255,255, 0.342) , 907px 56px 0 0px rgba(255,255,255, 0.383) , 427px 44px 0 0px rgba(255,255,255, 0.272) , 759px 306px 0 0px rgba(255,255,255, 0.368) , 661px 1649px 0 0px rgba(255,255,255, 0.919) , 1593px 204px 0 0px rgba(255,255,255, 0.311) , 757px 1580px 0 0px rgba(255,255,255, 0.601) , 156px 395px 0 0px rgba(255,255,255, 0.109) , 983px 1270px 0 0px rgba(255,255,255, 0.382) , 1015px 457px 0 0px rgba(255,255,255, 0.206) , 1208px 548px 0 0px rgba(255,255,255, 0.798) , 1109px 136px 0 0px rgba(255,255,255, 0.043) , 1378px 1357px 0 0px rgba(255,255,255, 0.695) , 1636px 1103px 0 0px rgba(255,255,255, 0.074) , 1333px 1060px 0 0px rgba(255,255,255, 0.765) , 1602px 802px 0 0px rgba(255,255,255, 0.529) , 569px 717px 0 0px rgba(255,255,255, 0.796) , 819px 1673px 0 0px rgba(255,255,255, 0.695) , 1020px 1570px 0 0px rgba(255,255,255, 0.91) , 1350px 1371px 0 0px rgba(255,255,255, 0.646) , 1530px 1473px 0 0px rgba(255,255,255, 0.512) , 1237px 425px 0 0px rgba(255,255,255, 0.1) , 749px 506px 0 0px rgba(255,255,255, 0.994) , 1490px 758px 0 0px rgba(255,255,255, 0.185) , 827px 853px 0 0px rgba(255,255,255, 0.515) , 646px 183px 0 0px rgba(255,255,255, 0.372) , 694px 1717px 0 0px rgba(255,255,255, 0.511) , 1525px 797px 0 0px rgba(255,255,255, 0.522) , 227px 319px 0 0px rgba(255,255,255, 0.359) , 427px 768px 0 0px rgba(255,255,255, 0.764) , 131px 313px 0 0px rgba(255,255,255, 0.197) , 42px 1711px 0 0px rgba(255,255,255, 0.518) , 21px 896px 0 0px rgba(255,255,255, 0.066) , 1056px 541px 0 0px rgba(255,255,255, 0.023) , 1499px 1046px 0 0px rgba(255,255,255, 0.004) , 367px 695px 0 0px rgba(255,255,255, 0.933) , 1080px 406px 0 0px rgba(255,255,255, 0.914) , 1215px 872px 0 0px rgba(255,255,255, 0.837) , 982px 775px 0 0px rgba(255,255,255, 0.387) , 83px 678px 0 0px rgba(255,255,255, 0.457) , 439px 458px 0 0px rgba(255,255,255, 0.688) , 1262px 1677px 0 0px rgba(255,255,255, 0.214) , 992px 1100px 0 0px rgba(255,255,255, 0.582) , 29px 1329px 0 0px rgba(255,255,255, 0.245) , 328px 371px 0 0px rgba(255,255,255, 0.129) , 1037px 651px 0 0px rgba(255,255,255, 0.222) , 1307px 7px 0 0px rgba(255,255,255, 0.896) , 1405px 1347px 0 0px rgba(255,255,255, 0.282) , 1141px 1187px 0 0px rgba(255,255,255, 0.055) , 377px 1060px 0 0px rgba(255,255,255, 0.393) , 1217px 234px 0 0px rgba(255,255,255, 0.29) , 981px 530px 0 0px rgba(255,255,255, 0.852) , 149px 324px 0 0px rgba(255,255,255, 0.52) , 1432px 735px 0 0px rgba(255,255,255, 0.61) , 1236px 420px 0 0px rgba(255,255,255, 0.423) , 1674px 929px 0 0px rgba(255,255,255, 0.764) , 665px 664px 0 0px rgba(255,255,255, 0.365) , 266px 46px 0 0px rgba(255,255,255, 0.705) , 1418px 1469px 0 0px rgba(255,255,255, 0.451) , 466px 947px 0 0px rgba(255,255,255, 0.016) , 1270px 395px 0 0px rgba(255,255,255, 0.92) , 707px 550px 0 0px rgba(255,255,255, 0.607) , 1756px 35px 0 0px rgba(255,255,255, 0.985) , 66px 1158px 0 0px rgba(255,255,255, 0.48) , 977px 1258px 0 0px rgba(255,255,255, 0.605) , 759px 1324px 0 0px rgba(255,255,255, 0.749) , 534px 958px 0 0px rgba(255,255,255, 0.786) , 1480px 151px 0 0px rgba(255,255,255, 0.479) , 780px 555px 0 0px rgba(255,255,255, 0.55) , 1713px 579px 0 0px rgba(255,255,255, 0.256) , 293px 319px 0 0px rgba(255,255,255, 0.073) , 1349px 1286px 0 0px rgba(255,255,255, 0.88) , 888px 1021px 0 0px rgba(255,255,255, 0.36) , 1103px 426px 0 0px rgba(255,255,255, 0.864) , 104px 1126px 0 0px rgba(255,255,255, 0.358) , 1366px 1616px 0 0px rgba(255,255,255, 0.115) , 862px 1795px 0 0px rgba(255,255,255, 0.181) , 585px 1320px 0 0px rgba(255,255,255, 0.632) , 1649px 331px 0 0px rgba(255,255,255, 0.164) , 1520px 1677px 0 0px rgba(255,255,255, 0.237) , 1563px 767px 0 0px rgba(255,255,255, 0.804) , 814px 206px 0 0px rgba(255,255,255, 0.168) , 1561px 1215px 0 0px rgba(255,255,255, 0.178) , 791px 668px 0 0px rgba(255,255,255, 0.23) , 1630px 1395px 0 0px rgba(255,255,255, 0.671) , 91px 957px 0 0px rgba(255,255,255, 0.177) , 454px 1379px 0 0px rgba(255,255,255, 0.089) , 829px 1674px 0 0px rgba(255,255,255, 0.244) , 511px 915px 0 0px rgba(255,255,255, 0.814) , 1112px 431px 0 0px rgba(255,255,255, 0.932) , 22px 1424px 0 0px rgba(255,255,255, 0.905) , 1277px 1624px 0 0px rgba(255,255,255, 0.384) , 1022px 1592px 0 0px rgba(255,255,255, 0.316) , 703px 1723px 0 0px rgba(255,255,255, 0.931) , 1475px 201px 0 0px rgba(255,255,255, 0.094) , 345px 59px 0 0px rgba(255,255,255, 0.663) , 1221px 488px 0 0px rgba(255,255,255, 0.943) , 1726px 598px 0 0px rgba(255,255,255, 0.661) , 1061px 1523px 0 0px rgba(255,255,255, 0.264) , 970px 1060px 0 0px rgba(255,255,255, 0.862) , 1490px 836px 0 0px rgba(255,255,255, 0.923) , 1012px 752px 0 0px rgba(255,255,255, 0.196) , 1779px 1560px 0 0px rgba(255,255,255, 0.387) , 574px 313px 0 0px rgba(255,255,255, 0.137) , 872px 921px 0 0px rgba(255,255,255, 0.354) , 570px 4px 0 0px rgba(255,255,255, 0.406) , 803px 1730px 0 0px rgba(255,255,255, 0.375) , 1348px 58px 0 0px rgba(255,255,255, 0.838) , 1186px 903px 0 0px rgba(255,255,255, 0.473) , 218px 433px 0 0px rgba(255,255,255, 0.857) , 1262px 707px 0 0px rgba(255,255,255, 0.933) , 1609px 25px 0 0px rgba(255,255,255, 0.625) , 1159px 237px 0 0px rgba(255,255,255, 0.685) , 747px 313px 0 0px rgba(255,255,255, 0.67) , 200px 309px 0 0px rgba(255,255,255, 0.73) , 1247px 1784px 0 0px rgba(255,255,255, 0.894) , 857px 1410px 0 0px rgba(255,255,255, 0.653) , 1210px 563px 0 0px rgba(255,255,255, 0.215) , 1470px 955px 0 0px rgba(255,255,255, 0.909) , 1656px 435px 0 0px rgba(255,255,255, 0.714) , 1050px 287px 0 0px rgba(255,255,255, 0.528) , 221px 1602px 0 0px rgba(255,255,255, 0.277) , 322px 876px 0 0px rgba(255,255,255, 0.45) , 711px 252px 0 0px rgba(255,255,255, 0.709) , 1294px 1160px 0 0px rgba(255,255,255, 0.638) , 500px 727px 0 0px rgba(255,255,255, 0.21) , 1208px 263px 0 0px rgba(255,255,255, 0.655) , 1445px 1644px 0 0px rgba(255,255,255, 0.496) , 434px 70px 0 0px rgba(255,255,255, 0.538) , 1129px 1731px 0 0px rgba(255,255,255, 0.237) , 1402px 1685px 0 0px rgba(255,255,255, 0.589) , 534px 1594px 0 0px rgba(255,255,255, 0.572) , 1270px 1677px 0 0px rgba(255,255,255, 0.308) , 234px 243px 0 0px rgba(255,255,255, 0.968) , 72px 99px 0 0px rgba(255,255,255, 0.846) , 121px 1716px 0 0px rgba(255,255,255, 0.547) , 732px 45px 0 0px rgba(255,255,255, 0.918) , 1474px 1092px 0 0px rgba(255,255,255, 0.457) , 316px 794px 0 0px rgba(255,255,255, 0.571) , 1448px 737px 0 0px rgba(255,255,255, 0.537) , 1086px 570px 0 0px rgba(255,255,255, 0.169) , 1182px 268px 0 0px rgba(255,255,255, 0.201) , 1431px 1144px 0 0px rgba(255,255,255, 0.94) , 1792px 6px 0 0px rgba(255,255,255, 0.772) , 1387px 1128px 0 0px rgba(255,255,255, 0.514) , 396px 655px 0 0px rgba(255,255,255, 0.693) , 1607px 1380px 0 0px rgba(255,255,255, 0.844) , 122px 985px 0 0px rgba(255,255,255, 0.915) , 1619px 158px 0 0px rgba(255,255,255, 0.452) , 867px 1190px 0 0px rgba(255,255,255, 1) , 938px 224px 0 0px rgba(255,255,255, 0.323) , 1228px 980px 0 0px rgba(255,255,255, 0.483) , 91px 1744px 0 0px rgba(255,255,255, 0.742) , 1008px 190px 0 0px rgba(255,255,255, 0.271) , 465px 1756px 0 0px rgba(255,255,255, 0.851) , 152px 985px 0 0px rgba(255,255,255, 0.15) , 125px 1241px 0 0px rgba(255,255,255, 0.794) , 553px 1057px 0 0px rgba(255,255,255, 0.472) , 842px 1136px 0 0px rgba(255,255,255, 0.857) , 420px 939px 0 0px rgba(255,255,255, 0.795) , 407px 256px 0 0px rgba(255,255,255, 0.568) , 1182px 1630px 0 0px rgba(255,255,255, 0.605) , 986px 927px 0 0px rgba(255,255,255, 0.361) , 955px 1218px 0 0px rgba(255,255,255, 0.29) , 1560px 158px 0 0px rgba(255,255,255, 0.557) , 589px 1024px 0 0px rgba(255,255,255, 0.478) , 529px 450px 0 0px rgba(255,255,255, 0.173) , 1066px 653px 0 0px rgba(255,255,255, 0.743) , 347px 1555px 0 0px rgba(255,255,255, 0.292) , 591px 1110px 0 0px rgba(255,255,255, 0.355) , 1471px 1024px 0 0px rgba(255,255,255, 0.811) , 113px 271px 0 0px rgba(255,255,255, 0.569) , 786px 1544px 0 0px rgba(255,255,255, 0.04) , 1458px 539px 0 0px rgba(255,255,255, 0.574) , 79px 1154px 0 0px rgba(255,255,255, 0.084) , 909px 401px 0 0px rgba(255,255,255, 0.014) , 436px 771px 0 0px rgba(255,255,255, 0.232) , 1504px 1676px 0 0px rgba(255,255,255, 0.877) , 1736px 1128px 0 0px rgba(255,255,255, 0.392) , 1005px 590px 0 0px rgba(255,255,255, 0.647) , 698px 864px 0 0px rgba(255,255,255, 0.119) , 41px 731px 0 0px rgba(255,255,255, 0.705) , 1073px 1239px 0 0px rgba(255,255,255, 0.694) , 271px 1412px 0 0px rgba(255,255,255, 0.857) , 1483px 1049px 0 0px rgba(255,255,255, 0.365) , 1572px 1285px 0 0px rgba(255,255,255, 0.574) , 982px 860px 0 0px rgba(255,255,255, 0.607) , 652px 677px 0 0px rgba(255,255,255, 0.158) , 835px 177px 0 0px rgba(255,255,255, 0.348) , 663px 1300px 0 0px rgba(255,255,255, 0.208) , 55px 998px 0 0px rgba(255,255,255, 0.891) , 782px 1420px 0 0px rgba(255,255,255, 0.643) , 697px 74px 0 0px rgba(255,255,255, 0.643) , 1061px 134px 0 0px rgba(255,255,255, 0.681) , 1331px 1269px 0 0px rgba(255,255,255, 0.942) , 853px 397px 0 0px rgba(255,255,255, 0.347) , 744px 1348px 0 0px rgba(255,255,255, 0.389) , 654px 1125px 0 0px rgba(255,255,255, 0.487) , 941px 295px 0 0px rgba(255,255,255, 0.694) , 766px 1522px 0 0px rgba(255,255,255, 0.595) , 1257px 1062px 0 0px rgba(255,255,255, 0.426) , 1231px 1518px 0 0px rgba(255,255,255, 0.345) , 1173px 304px 0 0px rgba(255,255,255, 0.4) , 822px 327px 0 0px rgba(255,255,255, 0.934) , 1022px 354px 0 0px rgba(255,255,255, 0.875) , 203px 82px 0 0px rgba(255,255,255, 0.022) , 1468px 1551px 0 0px rgba(255,255,255, 0.901) , 212px 30px 0 0px rgba(255,255,255, 0.218) , 1183px 1246px 0 0px rgba(255,255,255, 0.313) , 563px 1325px 0 0px rgba(255,255,255, 0.194) , 954px 1156px 0 0px rgba(255,255,255, 0.673) , 855px 821px 0 0px rgba(255,255,255, 0.364) , 1085px 588px 0 0px rgba(255,255,255, 0.556) , 863px 1516px 0 0px rgba(255,255,255, 0.457) , 1657px 1482px 0 0px rgba(255,255,255, 0.635) , 1732px 1787px 0 0px rgba(255,255,255, 0.255) , 1157px 918px 0 0px rgba(255,255,255, 0.247) , 173px 1234px 0 0px rgba(255,255,255, 0.034) , 1579px 8px 0 0px rgba(255,255,255, 0.528) , 1485px 126px 0 0px rgba(255,255,255, 0.465) , 250px 1545px 0 0px rgba(255,255,255, 0.831) , 1498px 1336px 0 0px rgba(255,255,255, 0.383) , 1645px 20px 0 0px rgba(255,255,255, 0.197) , 1227px 964px 0 0px rgba(255,255,255, 0.46) , 1625px 1695px 0 0px rgba(255,255,255, 0.069) , 791px 1081px 0 0px rgba(255,255,255, 0.489) , 272px 1257px 0 0px rgba(255,255,255, 0.997) , 1541px 470px 0 0px rgba(255,255,255, 0.978) , 1573px 1544px 0 0px rgba(255,255,255, 0.257) , 81px 1788px 0 0px rgba(255,255,255, 0.403) , 1508px 114px 0 0px rgba(255,255,255, 0.589) , 1071px 1758px 0 0px rgba(255,255,255, 0.497) , 370px 216px 0 0px rgba(255,255,255, 0.226) , 970px 1507px 0 0px rgba(255,255,255, 0.969) , 531px 594px 0 0px rgba(255,255,255, 0.149) , 1154px 421px 0 0px rgba(255,255,255, 0.566) , 1220px 1061px 0 0px rgba(255,255,255, 0.969) , 97px 434px 0 0px rgba(255,255,255, 0.242) , 1475px 1016px 0 0px rgba(255,255,255, 0.061) , 1303px 1241px 0 0px rgba(255,255,255, 0.436) , 544px 1182px 0 0px rgba(255,255,255, 0.989) , 939px 949px 0 0px rgba(255,255,255, 0.586) , 6px 215px 0 0px rgba(255,255,255, 0.47) , 1776px 1644px 0 0px rgba(255,255,255, 0.299) , 1577px 1020px 0 0px rgba(255,255,255, 0.657) , 866px 1692px 0 0px rgba(255,255,255, 0.899) , 1562px 1341px 0 0px rgba(255,255,255, 0.031) , 577px 1729px 0 0px rgba(255,255,255, 0.469) , 1586px 1210px 0 0px rgba(255,255,255, 0.39) , 1505px 91px 0 0px rgba(255,255,255, 0.196) , 1101px 1140px 0 0px rgba(255,255,255, 0.075) , 455px 865px 0 0px rgba(255,255,255, 0.858) , 188px 387px 0 0px rgba(255,255,255, 0.046) , 510px 186px 0 0px rgba(255,255,255, 0.529) , 39px 1612px 0 0px rgba(255,255,255, 0.285) , 308px 1521px 0 0px rgba(255,255,255, 0.598) , 746px 423px 0 0px rgba(255,255,255, 0.178) , 869px 712px 0 0px rgba(255,255,255, 0.778) , 1510px 779px 0 0px rgba(255,255,255, 0.893) , 1147px 1062px 0 0px rgba(255,255,255, 0.268) , 719px 1405px 0 0px rgba(255,255,255, 0.882) , 204px 934px 0 0px rgba(255,255,255, 0.088) , 1208px 135px 0 0px rgba(255,255,255, 0.861) , 729px 1233px 0 0px rgba(255,255,255, 0.375) , 216px 1021px 0 0px rgba(255,255,255, 0.949) , 318px 344px 0 0px rgba(255,255,255, 0.859) , 352px 1680px 0 0px rgba(255,255,255, 0.302) , 319px 1537px 0 0px rgba(255,255,255, 0.195) , 1407px 1069px 0 0px rgba(255,255,255, 0.772) , 433px 1541px 0 0px rgba(255,255,255, 0.731) , 1398px 910px 0 0px rgba(255,255,255, 0.692) , 1145px 69px 0 0px rgba(255,255,255, 0.023) , 1327px 1382px 0 0px rgba(255,255,255, 0.53) , 1416px 1746px 0 0px rgba(255,255,255, 0.135) , 1145px 338px 0 0px rgba(255,255,255, 0.764) , 457px 230px 0 0px rgba(255,255,255, 0.156) , 1307px 814px 0 0px rgba(255,255,255, 0.563) , 935px 528px 0 0px rgba(255,255,255, 0.374) , 914px 290px 0 0px rgba(255,255,255, 0.122) , 994px 960px 0 0px rgba(255,255,255, 0.076);
  animation: twinkle 0.01s ease-out infinite;
}

@keyframes twinkle {
  0%,100% {
    --var: 0.4;
    opacity: calc(0.8 - var(--var));
  }
  50% {
    --var: 0.5;
    opacity: calc(1 - var(--var));
  }
}


/* animation: twinkle 0.1s ease-out infinite; */
/* @keyframes twinkle { */
/*   from, 28%, 38%, 58%, 65%, to { */
/*     @apply skew-y-0 skew-x-0; */
/*   } */
/*    32.8%{ */
/*     @apply -skew-y-[0.2deg] skew-x-[0.1deg]; */
/*   } */
/*    61.8%{ */
/*     @apply skew-y-[0.1deg] -skew-x-[0.2deg]; */
/*   } */
/* } */
