/* Code inpspired, utilized, and copied from Malik Dellidj - @Dathink
 https://codepen.io/kowlor/pen/ZYYQoy?editors=0110

 Revolution of planets in earth days (from Wikipedia)
  Mercury : ~87,5 days
  Venus : ~224,7 days
  Earth : ~365,2563 days
    + Moon : ~27.3216 days (around earth)
  Mars : ~687 days (~1,8 year)
  Jupiter : ~4 331 days (~12 years)
  Saturn : ~10 747 days (~30 years)
  Uranus : ~30 589 days (~84 years)
  Neptune : ~59 802 days (~165 years)
  Pluto : ~90 580 days (~248 years)

 function revolution(pl-year-in-days) {
   return pl-year-in-days * var(--year-in-second) / 365.2563 + s 
 }
*/

.body {
  height: 100%;
  width: 100%;
  position: relative;
  background-attachment: fixed;
  margin: 0 auto;
  top: clamp(-20vw, -22vw + 5vh , -10vw) ;
  /* top: clamp(-40vw, -44vw + 9vh , -20vw) ; */
}

.sun {
  background: radial-gradient(
    ellipse at center,
    #ffd000 1%,
    #f9b700 39%,
    #f9b700 39%,
    #e06317 100%
  );
  width: var(--pl-sun);
  height: var(--pl-sun);
  z-index: 999;

  /* this brings the center as the origin */
  margin-top: calc(-0.5 * var(--pl-sun));
  margin-left: calc(-0.5 * var(--pl-sun));

  border: 0;
  border-radius: 100%;
  background-clip: padding-box;
  background-position: -28px -103px;
  background-size: 175%;
  box-shadow: 0 0 11px 3px rgba(255, 106, 0, 0.4),
    0 0 21px 10px rgba(255, 204, 0, 0.13);
}

/* EARTH */

.earth {
  --earth-days: 365.2563;
  height: var(--orb-earth);
  width: var(--orb-earth);
  margin-top: calc(-0.5 * var(--orb-earth));
  margin-left: calc(-0.5 * var(--orb-earth));
  animation: orb
    calc(var(--earth-days) * var(--year-in-second) / var(--years-relative) * 1s)
    linear infinite;
}

.earth::before {
  height: var(--pl-earth);
  width: var(--pl-earth);
  background: #11ace9;
  background: radial-gradient(
    ellipse at center,
    #00fba0 1%,
    #009ab3 30%,
    #00ff43 35%,
    #bacfa3 49%,
    #009ab3 49%,
    #11ace9 100%
  );
  margin-top: calc(-0.5 * var(--pl-earth));
  margin-left: calc(-0.5 * var(--pl-earth));
  border-radius: 100%;
  position: absolute;
  content: "";

}
.earth::after {
  --earth-days: 27.3216; /* days (around earth) */
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  top: 0px;
  margin-top: -9px;
  margin-left: -9px;
  /* border: 0; */
  box-shadow: 0 -10px 0 -8px grey;
  animation: orb
    calc(var(--earth-days) * var(--year-in-second) / var(--years-relative) * 1s)
    linear infinite;

  border-radius: 39%;
  border-width: 0.001em 0.11em 0em 0em;
  border-style: ridge;
  border-color: #ffffff15 #ffffff40 transparent transparent ;
}

.asteroid_belt {
}

@keyframes orb {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.solar  {
  margin: 0 auto;
  position: relative;
}

div.solar {
  top: 50%;
  left: 50%;
  position: relative;
  z-index: 999;
}
.solar::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2px;
  top: -2px;

  /* debug the midpoint */
  /* background: white; */
}
