@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --bg-green-300: rgb(134 239 172 / var(--tw-bg-opacity));
  --bg-green-400: rgb(74 222 128 / var(--tw-bg-opacity));

  /* --bg-logo-light: #f9b700; */
  --bg-logo-light: var(--bg-green-300);
  --bg-logo-dark: var(--bg-green-400);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* @apply bg-purple-800 bg-opacity-[0.002]; */
  /* @apply outline-dotted outline-1 outline-gray4/30; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-feature-settings: "kern";
  overflow-x: clip;
  @apply mx-auto;
  @apply w-full;
  @apply bg-gray0;
  @apply tracking-normal;
  @apply text-on-tertiary;
  @apply dark:bg-on-primary;
  @apply dark:text-secondary;
  @apply lg:mx-auto;
}

.layout-wrapper {
  @apply grid selection:bg-gray5/30 dark:selection:bg-gray4/30 dark:selection:text-current;
  min-height: 100vh;
  min-height: 100svh;
}

main {
  @apply my-16 grid place-self-center overflow-hidden  lg:max-w-screen-md;
}

section {
  @apply px-6;
}

article {
  @apply prose dark:prose-invert;
  @apply lg:prose-xl;
  @apply prose-headings:text-heading-light dark:prose-headings:text-primary;
  @apply prose-p:text-primary-muted;
  @apply prose-lead:text-on-primary;
  /* @apply prose-a:text-link; */
}

nav,
footer {
  @apply mx-auto max-w-screen-sm lg:max-w-screen-md;
}

/* nav a { */
/*   color: #2ea073 !important; */
/* } */

footer {
  @apply w-full opacity-70 transition-opacity delay-700 duration-1000 ease-out hover:opacity-100 hover:delay-[0ms] hover:duration-100 dark:opacity-50 dark:hover:opacity-100;
}

p {
  hyphens: auto;
  @apply dark:text-secondary;
}

a {
  @apply underline-offset-8 hover:text-green-500 dark:hover:text-green-300;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
