@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  --bg-green-300: rgb(134 239 172 / var(--tw-bg-opacity));
  --bg-green-400: rgb(74 222 128 / var(--tw-bg-opacity));

  /* --bg-logo-light: #f9b700; */
  --bg-logo-light: var(--bg-green-300);
  --bg-logo-dark: var(--bg-green-400);

  /* Start: Solar System variables  */

  --year-in-second: 30; /* 30 seconds = 1 Earth year. */
  --years-relative: 365.2563; /* relative to Earth */

  --orb-asteroid-belt: 300px;

  --orb-mercury: 70px;
  --orb-venus: 100px;
  --orb-earth: 145px;
  --orb-mars: 190px;
  --orb-jupiter: 340px;
  --orb-saturn: 440px;
  --orb-uranus: 520px;
  --orb-neptune: 630px;
  --orb-pluto: 780px;

  --pl-sun: 40px;
  --pl-asteroid-belt: 210px;

  --pl-mercury: 4px;
  --pl-venus: 8px;
  --pl-earth: 6px;
  --pl-mars: 6px;
  --pl-jupiter: 18px;
  --pl-saturn: 12px;
  --pl-uranus: 10px;
  --pl-neptune: 10px;
  --pl-pluto: 3px;


  /* End: Solar System variables  */
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* @apply bg-purple-800 bg-opacity-[0.002]; */
  /* @apply outline-dotted outline-1 outline-gray4/30; */
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-feature-settings: "kern";
  overflow-x: clip;
  @apply mx-auto w-full bg-white tracking-normal text-on-primary dark:bg-on-primary dark:text-secondary lg:mx-auto;
}

.layout-wrapper {
  @apply grid selection:bg-gray5/30 dark:selection:bg-gray4/30 dark:selection:text-current;
  min-height: 100vh;
  min-height: 100svh;
}


main {
  @apply my-16 grid place-self-center overflow-hidden lg:max-w-screen-md ;
}

article {
  @apply  prose dark:prose-invert lg:prose-xl;
}

nav,footer {
  @apply mx-auto max-w-screen-sm lg:max-w-screen-md ;
}
footer {
  @apply w-full opacity-[61%];
}

a,
Link {
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.2s;
  @apply transition-all delay-75 ease-in-out;
}

a {
  @apply dark:prose-invert;
}

a::after {
  position: relative;
  content: "\FEFF°";
  top: -0.1em;
  margin-left: 0.3rem;
  font-size: 95%;
  @apply text-green-700 saturate-150 dark:text-green-400;
}

p {
  hyphens: auto;
  @apply dark:text-secondary;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
