@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* @apply outline-1 outline-dotted outline-gray4/30; */
  /* @apply bg-purple-800 bg-opacity-[0.002]; */
}

/* font-size: 2.4vw; */
/* font-size: 1.8vw; */
html {
  scroll-behavior: smooth;
  @apply [--scroll-mt:9.875rem] lg:[--scroll-mt:6.3125rem];
}

@media all and (min-width: 1000px) {
  /* font-size: 24px; */
  /* font-size: 21px; */
  html {
  }
}

@media all and (max-width: 520px) {
  /* font-size: 18px; */
  /* font-size: 16px; */
  html {
  }
}

html,
body {
  min-height: 100vh;
  overflow-x: hidden;
  @apply font-serif;
}

body {
  min-height: 100vh;
  font-feature-settings: "kern";
  @apply tracking-normal text-on-primary container mx-auto bg-gray0 lg:mx-auto w-full dark:text-secondary dark:bg-on-primary;
}

main {
  @apply my-16 lg:mx-44 place-self-center;
}

.layout-wrapper {
  @apply selection:bg-gray5/30 dark:selection:bg-gray4/30 dark:selection:text-current flex flex-col min-h-screen;
}

article {
  @apply prose lg:prose-xl;
}

footer {
  @apply w-full brightness-[50%] py-2;
}

a,
Link {
  text-decoration: none;
  transition-property: background;
  transition-duration: 0.2s;
}

a {
  @apply dark:text-primary;
}

/* mailto:user@email.com */
a:link {
  @apply hover:text-orange-700 dark:hover:text-orange-400;
}

a:hover {
  @apply bg-green-50 dark:bg-transparent dark:backdrop-brightness-[125%] decoration-transparent rounded-lg;
  background-image: none;
}

a::after {
  position: relative;
  content: "\FEFF°";
  top: -0.1em;
  margin-left: 0.1em;
  font-size: 90%;
  @apply text-red-800 saturate-150 dark:text-red-600;
}

/* font-feature-settings: "kern", "frac", "kern", "ss02"; */
p {
  hyphens: auto;
  @apply dark:text-secondary;
}

[data-theme="dark"] {
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
